<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beyond.algm.mapper.AlgAccountMapper">
  <resultMap id="BaseResultMap" type="com.beyond.algm.model.AlgAccount">
    <id column="acc_sn" jdbcType="VARCHAR" property="accSn" />
    <result column="usr_sn" jdbcType="VARCHAR" property="usrSn" />
    <result column="cash_bal" jdbcType="REAL" property="cashBal" />
    <result column="earn_bal" jdbcType="REAL" property="earnBal" />
    <result column="free_bal" jdbcType="REAL" property="freeBal" />
    <result column="free_set_time" jdbcType="TIMESTAMP" property="freeSetTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from alg_account
    where acc_sn = #{accSn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algm.model.AlgAccount">
    insert into alg_account (acc_sn, usr_sn, cash_bal, 
      earn_bal, free_bal, free_set_time
      )
    values (#{accSn,jdbcType=VARCHAR}, #{usrSn,jdbcType=VARCHAR}, #{cashBal,jdbcType=REAL}, 
      #{earnBal,jdbcType=REAL}, #{freeBal,jdbcType=REAL}, #{freeSetTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algm.model.AlgAccount">
    update alg_account
    set usr_sn = #{usrSn,jdbcType=VARCHAR},
      cash_bal = #{cashBal,jdbcType=REAL},
      earn_bal = #{earnBal,jdbcType=REAL},
      free_bal = #{freeBal,jdbcType=REAL},
      free_set_time = #{freeSetTime,jdbcType=TIMESTAMP}
    where acc_sn = #{accSn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select acc_sn, usr_sn, cash_bal, earn_bal, free_bal, free_set_time
    from alg_account
    where acc_sn = #{accSn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select acc_sn, usr_sn, cash_bal, earn_bal, free_bal, free_set_time
    from alg_account
  </select>

  <select id="selectAccount" parameterType="java.lang.String" resultMap="BaseResultMap">
    select acc_sn, usr_sn, cash_bal, earn_bal, free_bal, free_set_time
    from alg_account
    where usr_sn = #{usrSn,jdbcType=VARCHAR}
  </select>

  <select id="presentCash" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(*)
    from alg_account
    where usr_sn = #{usrSn,jdbcType=VARCHAR}
  </select>

  <update id="updateByFreeBal" parameterType="com.beyond.algm.vo.AlgAccountVo">
    update alg_account t
    set t.free_bal = #{freeBal,jdbcType=REAL},
    t.free_set_time = now()
    where (now() - t.free_set_time) >= #{cycle,jdbcType=VARCHAR}
  </update>
</mapper>