<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beyond.algm.mapper.AlgAuthCodeDomainMapper" >
  <resultMap id="BaseResultMap" type="com.beyond.algm.model.AlgAuthCodeDomain" >
    <id column="add_sn" property="addSn" jdbcType="VARCHAR" />
    <result column="acd_sn" property="acdSn" jdbcType="VARCHAR" />
    <result column="add_url" property="addUrl" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from alg_auth_code_domain
    where add_sn = #{addSn,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByAcdSn" parameterType="java.lang.String" >
    delete from alg_auth_code_domain
    where acd_sn = #{acdSn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algm.model.AlgAuthCodeDomain" >
    insert into alg_auth_code_domain (add_sn, acd_sn, add_url
      )
    values (#{addSn,jdbcType=VARCHAR}, #{acdSn,jdbcType=VARCHAR}, #{addUrl,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algm.model.AlgAuthCodeDomain" >
    update alg_auth_code_domain
    set acd_sn = #{acdSn,jdbcType=VARCHAR},
      add_url = #{addUrl,jdbcType=VARCHAR}
    where add_sn = #{addSn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select add_sn, acd_sn, add_url
    from alg_auth_code_domain
    where add_sn = #{addSn,jdbcType=VARCHAR}
  </select>
  <select id="listAcdSnUrl" resultMap="BaseResultMap">
    select add_sn, acd_sn, add_url
    from alg_auth_code_domain
    where acd_sn = #{acdSn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select add_sn, acd_sn, add_url
    from alg_auth_code_domain
  </select>
</mapper>