<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beyond.algm.mapper.AlgDurationDicMapper" >
  <resultMap id="BaseResultMap" type="com.beyond.algm.model.AlgDurationDic" >
    <id column="dic_sn" property="dicSn" jdbcType="VARCHAR" />
    <result column="buy_date" property="buyDate" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from alg_duration_dic
    where dic_sn = #{dicSn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algm.model.AlgDurationDic" >
    insert into alg_duration_dic (dic_sn, buy_date)
    values (#{dicSn,jdbcType=VARCHAR}, #{buyDate,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algm.model.AlgDurationDic" >
    update alg_duration_dic
    set buy_date = #{buyDate,jdbcType=VARCHAR}
    where dic_sn = #{dicSn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select dic_sn, buy_date
    from alg_duration_dic
    where dic_sn = #{dicSn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select dic_sn, buy_date
    from alg_duration_dic
  </select>
</mapper>