<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beyond.algm.mapper.AlgRUserOrgInviteMapper" >
  <resultMap id="BaseResultMap" type="com.beyond.algm.model.AlgRUserOrgInvite" >
    <id column="inv_sn" property="invSn" jdbcType="VARCHAR" />
    <result column="org_sn" property="orgSn" jdbcType="VARCHAR" />
    <result column="usr_sn" property="usrSn" jdbcType="VARCHAR" />
    <result column="user_email" property="userEmail" jdbcType="VARCHAR" />
    <result column="is_pend" property="isPend" jdbcType="VARCHAR" />
    <result column="is_old_user" property="isOldUser" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from alg_r_user_org_invite
    where inv_sn = #{invSn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algm.model.AlgRUserOrgInvite" >
    insert into alg_r_user_org_invite (inv_sn, org_sn, usr_sn, 
      user_email, is_pend, is_old_user
      )
    values (#{invSn,jdbcType=VARCHAR}, #{orgSn,jdbcType=VARCHAR}, #{usrSn,jdbcType=VARCHAR}, 
      #{userEmail,jdbcType=VARCHAR}, #{isPend,jdbcType=VARCHAR}, #{isOldUser,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algm.model.AlgRUserOrgInvite" >
    update alg_r_user_org_invite
    set org_sn = #{orgSn,jdbcType=VARCHAR},
      usr_sn = #{usrSn,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR},
      is_pend = #{isPend,jdbcType=VARCHAR},
      is_old_user = #{isOldUser,jdbcType=VARCHAR}
    where inv_sn = #{invSn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select inv_sn, org_sn, usr_sn, user_email, is_pend, is_old_user
    from alg_r_user_org_invite
    where inv_sn = #{invSn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select inv_sn, org_sn, usr_sn, user_email, is_pend, is_old_user
    from alg_r_user_org_invite
  </select>

  <delete id="deleteByOrgCode" parameterType="java.lang.String" >
    delete from alg_r_user_org_invite
    where org_sn = #{orgSn,jdbcType=VARCHAR}
  </delete>
</mapper>