<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beyond.algm.mapper.AlgRVersionSrcFileMapper" >
  <resultMap id="BaseResultMap" type="com.beyond.algm.model.AlgRVersionSrcFile" >
    <id column="sn" property="sn" jdbcType="VARCHAR" />
    <result column="ver_sn" property="verSn" jdbcType="VARCHAR" />
    <result column="sfl_sn" property="sflSn" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from alg_r_version_src_file
    where sn = #{sn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algm.model.AlgRVersionSrcFile" >
    insert into alg_r_version_src_file (sn, ver_sn, sfl_sn
      )
    values (#{sn,jdbcType=VARCHAR}, #{verSn,jdbcType=VARCHAR}, #{sflSn,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algm.model.AlgRVersionSrcFile" >
    update alg_r_version_src_file
    set ver_sn = #{verSn,jdbcType=VARCHAR},
      sfl_sn = #{sflSn,jdbcType=VARCHAR}
    where sn = #{sn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select sn, ver_sn, sfl_sn
    from alg_r_version_src_file
    where sn = #{sn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select sn, ver_sn, sfl_sn
    from alg_r_version_src_file
  </select>
</mapper>