<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beyond.algm.mapper.AlgRModuleTagMapper" >
  <resultMap id="BaseResultMap" type="com.beyond.algm.model.AlgRModuleTag" >
    <id column="sn" property="sn" jdbcType="VARCHAR" />
    <result column="mod_sn" property="modSn" jdbcType="VARCHAR" />
    <result column="tag_sn" property="tagSn" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from alg_r_module_tag
    where sn = #{sn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algm.model.AlgRModuleTag" >
    insert into alg_r_module_tag (sn, mod_sn, tag_sn
      )
    values (#{sn,jdbcType=VARCHAR}, #{modSn,jdbcType=VARCHAR}, #{tagSn,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algm.model.AlgRModuleTag" >
    update alg_r_module_tag
    set mod_sn = #{modSn,jdbcType=VARCHAR},
      tag_sn = #{tagSn,jdbcType=VARCHAR}
    where sn = #{sn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select sn, mod_sn, tag_sn
    from alg_r_module_tag
    where sn = #{sn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select sn, mod_sn, tag_sn
    from alg_r_module_tag
  </select>
</mapper>