<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hiekn.plantdata.mapper.UserMapper" >


    <resultMap id="BaseResultMap" type="com.hiekn.plantdata.Entity.User">
        <id column="usrSID" property="usrSID" jdbcType="VARCHAR"/>
        <result column="usrName" property="usrName" jdbcType="VARCHAR"/>
        <result column="usrPassword" property="usrPassword" jdbcType="VARCHAR"/>
        <result column="usrNodeID" property="usrNodeID" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="level" property="level" jdbcType="INTEGER"/>
        <result column="atl_sn" property="atlSn" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="queryUserInfoByUsrname" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        *
        from User
        where usrName = #{usrName,jdbcType=VARCHAR}
    </select>


</mapper>
