<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beyond.algo.dao.mapper.AccountMapper">
  <resultMap id="BaseResultMap" type="com.beyond.algo.dao.model.Account">
    <id column="AccSn" jdbcType="VARCHAR" property="accsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="CashBal" jdbcType="DECIMAL" property="cashbal" />
    <result column="EarnBal" jdbcType="DECIMAL" property="earnbal" />
    <result column="FreeBal" jdbcType="DECIMAL" property="freebal" />
    <result column="FreeSetTime" jdbcType="TIMESTAMP" property="freesettime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from Account
    where AccSn = #{accsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.dao.model.Account">
    insert into Account (AccSn, UsrSn, CashBal, 
      EarnBal, FreeBal, FreeSetTime
      )
    values (#{accsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, #{cashbal,jdbcType=DECIMAL}, 
      #{earnbal,jdbcType=DECIMAL}, #{freebal,jdbcType=DECIMAL}, #{freesettime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.dao.model.Account">
    update Account
    set UsrSn = #{usrsn,jdbcType=VARCHAR},
      CashBal = #{cashbal,jdbcType=DECIMAL},
      EarnBal = #{earnbal,jdbcType=DECIMAL},
      FreeBal = #{freebal,jdbcType=DECIMAL},
      FreeSetTime = #{freesettime,jdbcType=TIMESTAMP}
    where AccSn = #{accsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select AccSn, UsrSn, CashBal, EarnBal, FreeBal, FreeSetTime
    from Account
    where AccSn = #{accsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select AccSn, UsrSn, CashBal, EarnBal, FreeBal, FreeSetTime
    from Account
  </select>
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.Account">
    <id column="AccSn" jdbcType="VARCHAR" property="accsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="CashBal" jdbcType="DECIMAL" property="cashbal" />
    <result column="EarnBal" jdbcType="DECIMAL" property="earnbal" />
    <result column="FreeBal" jdbcType="DECIMAL" property="freebal" />
    <result column="FreeSetTime" jdbcType="TIMESTAMP" property="freesettime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from Account
    where AccSn = #{accsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.Account">
    insert into Account (AccSn, UsrSn, CashBal, 
      EarnBal, FreeBal, FreeSetTime
      )
    values (#{accsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, #{cashbal,jdbcType=DECIMAL}, 
      #{earnbal,jdbcType=DECIMAL}, #{freebal,jdbcType=DECIMAL}, #{freesettime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.Account">
    update Account
    set UsrSn = #{usrsn,jdbcType=VARCHAR},
      CashBal = #{cashbal,jdbcType=DECIMAL},
      EarnBal = #{earnbal,jdbcType=DECIMAL},
      FreeBal = #{freebal,jdbcType=DECIMAL},
      FreeSetTime = #{freesettime,jdbcType=TIMESTAMP}
    where AccSn = #{accsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select AccSn, UsrSn, CashBal, EarnBal, FreeBal, FreeSetTime
    from Account
    where AccSn = #{accsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select AccSn, UsrSn, CashBal, EarnBal, FreeBal, FreeSetTime
    from Account
  </select>
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.Account">
    <id column="AccSn" jdbcType="VARCHAR" property="accsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="CashBal" jdbcType="DECIMAL" property="cashbal" />
    <result column="EarnBal" jdbcType="DECIMAL" property="earnbal" />
    <result column="FreeBal" jdbcType="DECIMAL" property="freebal" />
    <result column="FreeSetTime" jdbcType="TIMESTAMP" property="freesettime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from Account
    where AccSn = #{accsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.Account">
    insert into Account (AccSn, UsrSn, CashBal, 
      EarnBal, FreeBal, FreeSetTime
      )
    values (#{accsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, #{cashbal,jdbcType=DECIMAL}, 
      #{earnbal,jdbcType=DECIMAL}, #{freebal,jdbcType=DECIMAL}, #{freesettime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.Account">
    update Account
    set UsrSn = #{usrsn,jdbcType=VARCHAR},
      CashBal = #{cashbal,jdbcType=DECIMAL},
      EarnBal = #{earnbal,jdbcType=DECIMAL},
      FreeBal = #{freebal,jdbcType=DECIMAL},
      FreeSetTime = #{freesettime,jdbcType=TIMESTAMP}
    where AccSn = #{accsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select AccSn, UsrSn, CashBal, EarnBal, FreeBal, FreeSetTime
    from Account
    where AccSn = #{accsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select AccSn, UsrSn, CashBal, EarnBal, FreeBal, FreeSetTime
    from Account
  </select>
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.Account">
    <id column="AccSn" jdbcType="VARCHAR" property="accsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="CashBal" jdbcType="DECIMAL" property="cashbal" />
    <result column="EarnBal" jdbcType="DECIMAL" property="earnbal" />
    <result column="FreeBal" jdbcType="DECIMAL" property="freebal" />
    <result column="FreeSetTime" jdbcType="TIMESTAMP" property="freesettime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from Account
    where AccSn = #{accsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.Account">
    insert into Account (AccSn, UsrSn, CashBal, 
      EarnBal, FreeBal, FreeSetTime
      )
    values (#{accsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, #{cashbal,jdbcType=DECIMAL}, 
      #{earnbal,jdbcType=DECIMAL}, #{freebal,jdbcType=DECIMAL}, #{freesettime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.Account">
    update Account
    set UsrSn = #{usrsn,jdbcType=VARCHAR},
      CashBal = #{cashbal,jdbcType=DECIMAL},
      EarnBal = #{earnbal,jdbcType=DECIMAL},
      FreeBal = #{freebal,jdbcType=DECIMAL},
      FreeSetTime = #{freesettime,jdbcType=TIMESTAMP}
    where AccSn = #{accsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select AccSn, UsrSn, CashBal, EarnBal, FreeBal, FreeSetTime
    from Account
    where AccSn = #{accsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select AccSn, UsrSn, CashBal, EarnBal, FreeBal, FreeSetTime
    from Account
  </select>
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.Account">
    <id column="AccSn" jdbcType="VARCHAR" property="accsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="CashBal" jdbcType="DECIMAL" property="cashbal" />
    <result column="EarnBal" jdbcType="DECIMAL" property="earnbal" />
    <result column="FreeBal" jdbcType="DECIMAL" property="freebal" />
    <result column="FreeSetTime" jdbcType="TIMESTAMP" property="freesettime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from Account
    where AccSn = #{accsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.Account">
    insert into Account (AccSn, UsrSn, CashBal, 
      EarnBal, FreeBal, FreeSetTime
      )
    values (#{accsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, #{cashbal,jdbcType=DECIMAL}, 
      #{earnbal,jdbcType=DECIMAL}, #{freebal,jdbcType=DECIMAL}, #{freesettime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.Account">
    update Account
    set UsrSn = #{usrsn,jdbcType=VARCHAR},
      CashBal = #{cashbal,jdbcType=DECIMAL},
      EarnBal = #{earnbal,jdbcType=DECIMAL},
      FreeBal = #{freebal,jdbcType=DECIMAL},
      FreeSetTime = #{freesettime,jdbcType=TIMESTAMP}
    where AccSn = #{accsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select AccSn, UsrSn, CashBal, EarnBal, FreeBal, FreeSetTime
    from Account
    where AccSn = #{accsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select AccSn, UsrSn, CashBal, EarnBal, FreeBal, FreeSetTime
    from Account
  </select>
</mapper>