<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beyond.algo.mapper.AlgAuthCodeMapper" >
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.AlgAuthCode" >
    <id column="acd_sn" property="acdSn" jdbcType="VARCHAR" />
    <result column="usr_sn" property="usrSn" jdbcType="VARCHAR" />
    <result column="acd_name" property="acdName" jdbcType="VARCHAR" />
    <result column="acd_id" property="acdId" jdbcType="VARCHAR" />
    <result column="call_from_client" property="callFromClient" jdbcType="VARCHAR" />
    <result column="call_from_browser" property="callFromBrowser" jdbcType="VARCHAR" />
    <result column="restrict_url" property="restrictUrl" jdbcType="VARCHAR" />
    <result column="data_use_type" property="dataUseType" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="AlgAuthCodeVoMap" type="com.beyond.algo.vo.AlgAuthCodeVo" >
    <id column="acd_sn" property="acdSn" jdbcType="VARCHAR" />
    <result column="usr_sn" property="usrSn" jdbcType="VARCHAR" />
    <result column="acd_name" property="acdName" jdbcType="VARCHAR" />
    <result column="acd_id" property="acdId" jdbcType="VARCHAR" />
    <result column="call_from_client" property="callFromClient" jdbcType="VARCHAR" />
    <result column="call_from_browser" property="callFromBrowser" jdbcType="VARCHAR" />
    <result column="restrict_url" property="restrictUrl" jdbcType="VARCHAR" />
    <result column="data_use_type" property="dataUseType" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from alg_auth_code
    where acd_sn = #{acdSn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.AlgAuthCode" >
    insert into alg_auth_code (acd_sn, usr_sn, acd_name, 
      acd_id, call_from_client, call_from_browser, 
      restrict_url, data_use_type ,create_date)
    values (#{acdSn,jdbcType=VARCHAR}, #{usrSn,jdbcType=VARCHAR}, #{acdName,jdbcType=VARCHAR}, 
      #{acdId,jdbcType=VARCHAR}, #{callFromClient,jdbcType=VARCHAR}, #{callFromBrowser,jdbcType=VARCHAR}, 
      #{restrictUrl,jdbcType=VARCHAR}, #{dataUseType,jdbcType=VARCHAR} ,#{createDate,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.AlgAuthCode" >
    update alg_auth_code
    set usr_sn = #{usrSn,jdbcType=VARCHAR},
      acd_name = #{acdName,jdbcType=VARCHAR},
      acd_id = #{acdId,jdbcType=VARCHAR},
      call_from_client = #{callFromClient,jdbcType=VARCHAR},
      call_from_browser = #{callFromBrowser,jdbcType=VARCHAR},
      restrict_url = #{restrictUrl,jdbcType=VARCHAR},
      data_use_type = #{dataUseType,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where acd_sn = #{acdSn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="AlgAuthCodeVoMap" parameterType="java.lang.String" >
    select acd_sn, usr_sn, acd_name, acd_id, call_from_client, call_from_browser, restrict_url, 
    data_use_type ,create_date
    from alg_auth_code
    where acd_sn = #{acdSn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="AlgAuthCodeVoMap" >
    select acd_sn, usr_sn, acd_name, acd_id, call_from_client, call_from_browser, restrict_url,
    data_use_type ,create_date
    from alg_auth_code
  </select>
  <select id="selectByUsrSnKey" resultMap="AlgAuthCodeVoMap">
    select acd_sn, usr_sn, acd_name, acd_id, call_from_client, call_from_browser, restrict_url,
    data_use_type ,create_date
    from alg_auth_code
    where usr_sn = #{usrSn,jdbcType=VARCHAR}
  </select>
</mapper>