<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beyond.algo.mapper.AlgModuleVersionMapper" >
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.AlgModuleVersion" >
    <id column="ver_sn" property="verSn" jdbcType="VARCHAR" />
    <result column="mod_sn" property="modSn" jdbcType="VARCHAR" />
    <result column="ver_code_l1" property="verCodeL1" jdbcType="INTEGER" />
    <result column="ver_code_l2" property="verCodeL2" jdbcType="INTEGER" />
    <result column="ver_code_l3" property="verCodeL3" jdbcType="INTEGER" />
    <result column="latest_commit" property="latestCommit" jdbcType="VARCHAR" />
    <result column="ver_loyalty_fee" property="verLoyaltyFee" jdbcType="REAL" />
    <result column="ver_run_url" property="verRunUrl" jdbcType="VARCHAR" />
    <result column="ver_run_port" property="verRunPort" jdbcType="VARCHAR" />
    <result column="ver_compiled" property="verCompiled" jdbcType="VARCHAR" />
    <result column="verIs_dirty" property="verisDirty" jdbcType="VARCHAR" />
    <result column="ver_url" property="verUrl" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="ver_dependency" property="verDependency" jdbcType="LONGVARCHAR" />
    <result column="ver_description" property="verDescription" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from alg_module_version
    where ver_sn = #{verSn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.AlgModuleVersion" >
    insert into alg_module_version (ver_sn, mod_sn, ver_code_l1, 
      ver_code_l2, ver_code_l3, latest_commit, ver_loyalty_fee,
      ver_run_url, ver_run_port, ver_compiled, 
      verIs_dirty, ver_url, create_date, 
      ver_dependency, ver_description)
    values (#{verSn,jdbcType=VARCHAR}, #{modSn,jdbcType=VARCHAR}, #{verCodeL1,jdbcType=INTEGER}, 
      #{verCodeL2,jdbcType=INTEGER}, #{verCodeL3,jdbcType=INTEGER},  #{latestCommit,jdbcType=VARCHAR}, #{verLoyaltyFee,jdbcType=REAL},
      #{verRunUrl,jdbcType=VARCHAR}, #{verRunPort,jdbcType=VARCHAR}, #{verCompiled,jdbcType=VARCHAR}, 
      #{verisDirty,jdbcType=VARCHAR}, #{verUrl,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{verDependency,jdbcType=LONGVARCHAR}, #{verDescription,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.AlgModuleVersion" >
    update alg_module_version
    set mod_sn = #{modSn,jdbcType=VARCHAR},
      ver_code_l1 = #{verCodeL1,jdbcType=INTEGER},
      ver_code_l2 = #{verCodeL2,jdbcType=INTEGER},
      ver_code_l3 = #{verCodeL3,jdbcType=INTEGER},
      latest_commit = #{latestCommit,jdbcType=INTEGER},
      ver_loyalty_fee = #{verLoyaltyFee,jdbcType=REAL},
      ver_run_url = #{verRunUrl,jdbcType=VARCHAR},
      ver_run_port = #{verRunPort,jdbcType=VARCHAR},
      ver_compiled = #{verCompiled,jdbcType=VARCHAR},
      verIs_dirty = #{verisDirty,jdbcType=VARCHAR},
      ver_url = #{verUrl,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      ver_dependency = #{verDependency,jdbcType=LONGVARCHAR},
      ver_description = #{verDescription,jdbcType=LONGVARCHAR}
    where ver_sn = #{verSn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select ver_sn, mod_sn, ver_code_l1, ver_code_l2, ver_code_l3,latest_commit, ver_loyalty_fee, ver_run_url,
    ver_run_port, ver_compiled, verIs_dirty, ver_url, create_date, ver_dependency, ver_description
    from alg_module_version
    where ver_sn = #{verSn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ver_sn, mod_sn, ver_code_l1, ver_code_l2, ver_code_l3, latest_commit, ver_loyalty_fee, ver_run_url,
    ver_run_port, ver_compiled, verIs_dirty, ver_url, create_date, ver_dependency, ver_description
    from alg_module_version
  </select>
  <select id="selectLatestAll" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * from alg_module_version where mod_sn = #{mod_sn,jdbcType=VARCHAR}
    and ver_code_l1 = (select max(ver_code_l1) from alg_module_version where mod_sn = #{mod_sn,jdbcType=VARCHAR} GROUP BY mod_sn)
    and ver_code_l2 = (select max(ver_code_l2) from alg_module_version where mod_sn = #{mod_sn,jdbcType=VARCHAR} GROUP BY mod_sn)
    and ver_code_l3 = (select max(ver_code_l3) from alg_module_version where mod_sn = #{mod_sn,jdbcType=VARCHAR} GROUP BY mod_sn)
  </select>
</mapper>