<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beyond.algo.mapper.AlgModelMapper" >
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.AlgModel" >
    <id column="model_sn" property="modelSn" jdbcType="VARCHAR" />
    <result column="dat_sn" property="datSn" jdbcType="VARCHAR" />
    <result column="usr_sn" property="usrSn" jdbcType="VARCHAR" />
    <result column="model_set_sn" property="modelSetSn" jdbcType="VARCHAR" />
    <result column="ver_sn" property="verSn" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="model_address" property="modelAddress" jdbcType="VARCHAR" />
    <result column="model_name" property="modelName" jdbcType="VARCHAR" />
    <result column="model_en_name" property="modelEnName" jdbcType="VARCHAR" />
    <result column="model_size" property="modelSize" jdbcType="VARCHAR" />
    <result column="is_open_src" property="isOpenSrc" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from alg_model
    where model_sn = #{modelSn,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByModelSetSn" parameterType="java.lang.String" >
    delete from alg_model
    where model_set_sn = #{modelSetSn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.AlgModel" >
    insert into alg_model (model_sn, dat_sn, usr_sn, 
      model_set_sn, ver_sn, create_time, 
      model_address, model_name, model_en_name, 
      model_size, is_open_src, comment
      )
    values (#{modelSn,jdbcType=VARCHAR}, #{datSn,jdbcType=VARCHAR}, #{usrSn,jdbcType=VARCHAR}, 
      #{modelSetSn,jdbcType=VARCHAR}, #{verSn,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modelAddress,jdbcType=VARCHAR}, #{modelName,jdbcType=VARCHAR}, #{modelEnName,jdbcType=VARCHAR}, 
      #{modelSize,jdbcType=VARCHAR}, #{isOpenSrc,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.AlgModel" >
    update alg_model
    set dat_sn = #{datSn,jdbcType=VARCHAR},
      usr_sn = #{usrSn,jdbcType=VARCHAR},
      model_set_sn = #{modelSetSn,jdbcType=VARCHAR},
      ver_sn = #{verSn,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      model_address = #{modelAddress,jdbcType=VARCHAR},
      model_name = #{modelName,jdbcType=VARCHAR},
      model_en_name = #{modelEnName,jdbcType=VARCHAR},
      model_size = #{modelSize,jdbcType=VARCHAR},
      is_open_src = #{isOpenSrc,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR}
    where model_sn = #{modelSn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select model_sn, dat_sn, usr_sn, model_set_sn, ver_sn, create_time, model_address, 
    model_name, model_en_name, model_size, is_open_src, comment
    from alg_model
    where model_sn = #{modelSn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select model_sn, dat_sn, usr_sn, model_set_sn, ver_sn, create_time, model_address, 
    model_name, model_en_name, model_size, is_open_src, comment
    from alg_model
    where model_set_sn = #{modelSetSn,jdbcType=VARCHAR}
  </select>
</mapper>