<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beyond.algo.mapper.AlgModuleMapper">
    <resultMap id="BaseResultMap" type="com.beyond.algo.model.AlgModule">
        <id column="mod_sn" property="modSn" jdbcType="VARCHAR"/>
        <result column="usr_sn" property="usrSn" jdbcType="VARCHAR"/>
        <result column="lan_sn" property="lanSn" jdbcType="VARCHAR"/>
        <result column="cat_sn" property="catSn" jdbcType="VARCHAR"/>
        <result column="lic_sn" property="licSn" jdbcType="VARCHAR"/>
        <result column="atl_sn" property="atlSn" jdbcType="VARCHAR"/>
        <result column="mod_name" property="modName" jdbcType="VARCHAR"/>
        <result column="mod_id" property="modId" jdbcType="VARCHAR"/>
        <result column="is_open_src" property="isOpenSrc" jdbcType="VARCHAR"/>
        <result column="need_web" property="needWeb" jdbcType="VARCHAR"/>
        <result column="need_call_other" property="needCallOther" jdbcType="VARCHAR"/>
        <result column="env_type" property="envType" jdbcType="VARCHAR"/>
        <result column="is_train" property="isTrain" jdbcType="VARCHAR"/>
        <result column="is_colony" property="isColony" jdbcType="VARCHAR"/>
        <result column="colony_plan_id" property="colonyPlanId" jdbcType="VARCHAR"/>
        <result column="mod_desc" property="modDesc" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="queryForListMap" type="com.beyond.algo.vo.AlgModuleVo"  extends="BaseResultMap">
        <result column="lic_name" jdbcType="VARCHAR" property="licName" />
        <result column="lan_name" jdbcType="VARCHAR" property="lanName" />
        <result column="ver_code" jdbcType="VARCHAR" property="verCode" />
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from alg_module
    where mod_sn = #{modSn,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.beyond.algo.model.AlgModule">
    insert into alg_module (mod_sn, usr_sn, lan_sn, 
      cat_sn, lic_sn, atl_sn, 
      mod_name, mod_id, is_open_src, 
      need_web, need_call_other, env_type, is_train, is_colony, colony_plan_id,mod_desc
      )
    values (#{modSn,jdbcType=VARCHAR}, #{usrSn,jdbcType=VARCHAR}, #{lanSn,jdbcType=VARCHAR}, 
      #{catSn,jdbcType=VARCHAR}, #{licSn,jdbcType=VARCHAR}, #{atlSn,jdbcType=VARCHAR}, 
      #{modName,jdbcType=VARCHAR}, #{modId,jdbcType=VARCHAR}, #{isOpenSrc,jdbcType=VARCHAR}, 
      #{needWeb,jdbcType=VARCHAR}, #{needCallOther,jdbcType=VARCHAR}, #{envType,jdbcType=VARCHAR},
      #{isTrain,jdbcType=VARCHAR}, #{isColony,jdbcType=VARCHAR}, #{colonyPlanId,jdbcType=VARCHAR},
      #{modDesc,jdbcType=VARCHAR}
      )
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.AlgModule">
    update alg_module
    set usr_sn = #{usrSn,jdbcType=VARCHAR},
      lan_sn = #{lanSn,jdbcType=VARCHAR},
      cat_sn = #{catSn,jdbcType=VARCHAR},
      lic_sn = #{licSn,jdbcType=VARCHAR},
      atl_sn = #{atlSn,jdbcType=VARCHAR},
      mod_name = #{modName,jdbcType=VARCHAR},
      mod_id = #{modId,jdbcType=VARCHAR},
      is_open_src = #{isOpenSrc,jdbcType=VARCHAR},
      need_web = #{needWeb,jdbcType=VARCHAR},
      need_call_other = #{needCallOther,jdbcType=VARCHAR},
      env_type = #{envType,jdbcType=VARCHAR},
      is_train = #{isTrain,jdbcType=VARCHAR},
      is_colony = #{isColony,jdbcType=VARCHAR},
      colony_plan_id = #{colonyPlanId,jdbcType=VARCHAR},
      mod_desc = #{modDesc,jdbcType=VARCHAR}
    where mod_sn = #{modSn,jdbcType=VARCHAR}
  </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select mod_sn, usr_sn, lan_sn, cat_sn, lic_sn, atl_sn, mod_name, mod_id, is_open_src, 
    need_web, need_call_other, env_type, is_train, is_colony, colony_plan_id,mod_desc
    from alg_module
    where mod_sn = #{modSn,jdbcType=VARCHAR}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select mod_sn, usr_sn, lan_sn, cat_sn, lic_sn, atl_sn, mod_name, mod_id, is_open_src, 
    need_web, need_call_other, env_type, is_train, is_colony, colony_plan_id,mod_desc
    from alg_module
  </select>
    <sql id="alg_module_tbl">
    select mod_sn, usr_sn, lan_sn, cat_sn, lic_sn, atl_sn, mod_name, mod_id, is_open_src,
    need_web, need_call_other, env_type, is_train, is_colony, colony_plan_id,mod_desc
    from alg_module
  </sql>
    <select id="getRankList" resultMap="BaseResultMap">
        <include refid="alg_module_tbl"/>
        where mod_id in
        <foreach collection="list" item="item" index="index"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <sql id="listAlgByUsageColumn">
        mo.mod_id as mod_id,
        mo.usr_sn as usr_sn,
        mo.lan_sn as lan_sn,
        mo.cat_sn as cat_sn,
        mo.lic_sn as lic_sn,
        mo.atl_sn as atl_sn,
        mo.mod_name as mod_name,
        mo.mod_id as mod_id,
        mo.is_open_src as is_open_src,
        mo.need_web as need_web,
        mo.need_call_other as need_call_other,
        mo.env_type as env_type,
        mo.is_train as is_train,
        mo.is_colony as is_colony,
        mo.colony_plan_id as colony_plan_id,
        mo.mod_desc as mod_desc
    </sql>
    <select id="listAlgByUsage" resultMap="BaseResultMap">

        select
        <include refid="listAlgByUsageColumn"/>
        from alg_module mo
        left join alg_algo_category ac on ac.mod_sn = mo.mod_sn
        left join alg_module_usage usa on usa.mod_sn = mo.mod_sn
        <where>
            <trim prefixOverrides="and">
                <if test="arg0 != null and arg0 !=''">and ac.cat_name = #{arg0,jdbcType=VARCHAR}</if>
                <if test="arg2 != null and arg2 !=''">and mo.mod_name like concat('%',#{arg2,jdbcType=VARCHAR},'%')</if>
            </trim>
        </where>
        <if test="arg1 == 'starCnt'"> order by usa.star_cnt DESC </if>
        <if test="arg1 == 'followCnt'"> order by usa.follow_cnt DESC </if>
        <if test="arg1 == 'callCnt'"> order by usa.call_cnt DESC </if>
        <if test="arg1 == 'creditCnt'"> order by usa.credit_cnt DESC </if>
    </select>

    <select id="selectByUsrSnAndModId" resultMap="BaseResultMap">
        select * from alg_module
        <include refid="Base_Where_Clause"/>
    </select>
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="usrSn != null and usrSn !=''">and usr_sn = #{usrSn,jdbcType=VARCHAR}</if>
                <if test="modId != null and modId !=''">and mod_id = #{modId,jdbcType=VARCHAR}</if>
            </trim>
        </where>
    </sql>

    <select id="getAlgorithmDetail" resultMap="queryForListMap"  parameterType="java.lang.String">
        select algModule.mod_sn,algModule.mod_id,algModule.need_web
        ,algModule.env_type,algModule.need_call_other,algLicense.lic_name,lan.lan_name
        ,algModuleVersion.ver_code,algStar.count
        from alg_module algModule
        left join alg_license algLicense on algModule.lic_sn=algLicense.lic_sn
        left join  alg_program_lang lan on algModule.lan_sn =lan.lan_sn
        left join (select mod_sn,max(CONCAT(ver_code_l1,ver_code_l2,ver_code_l3)) as ver_code from alg_module_version GROUP BY mod_sn) algModuleVersion on algModule.mod_sn =algModuleVersion.mod_sn
        left join(select count(mod_sn) count,mod_sn from alg_star GROUP BY mod_sn) algStar ON algStar.mod_sn=algModule.mod_sn
        where algModule.mod_sn=#{modSn,jdbcType=VARCHAR}
    </select>

</mapper>