<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beyond.algo.dao.mapper.AlgocategoryMapper" >
  <resultMap id="BaseResultMap" type="com.beyond.algo.dao.model.Algocategory" >
    <id column="CatSn" property="catsn" jdbcType="VARCHAR" />
    <result column="CatName" property="catname" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from AlgoCategory
    where CatSn = #{catsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.dao.model.Algocategory" >
    insert into AlgoCategory (CatSn, CatName)
    values (#{catsn,jdbcType=VARCHAR}, #{catname,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.dao.model.Algocategory" >
    update AlgoCategory
    set CatName = #{catname,jdbcType=VARCHAR}
    where CatSn = #{catsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select CatSn, CatName
    from AlgoCategory
    where CatSn = #{catsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select CatSn, CatName
    from AlgoCategory
  </select>
</mapper>