<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beyond.algo.mapper.AlgRUserModuleCallTransMapper" >
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.AlgRUserModuleCallTrans" >
    <id column="umc_sn" property="umcSn" jdbcType="VARCHAR" />
    <result column="ver_sn" property="verSn" jdbcType="VARCHAR" />
    <result column="call_usr_sn" property="callUsrSn" jdbcType="VARCHAR" />
    <result column="owner_usr_sn" property="ownerUsrSn" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="duration" property="duration" jdbcType="BIGINT" />
    <result column="billed_call_cnt" property="billedCallCnt" jdbcType="BIGINT" />
    <result column="call_pay_amount" property="callPayAmount" jdbcType="REAL" />
    <result column="mod_call_cnt" property="modCallCnt" jdbcType="BIGINT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from alg_r_user_module_call_trans
    where umc_sn = #{umcSn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.AlgRUserModuleCallTrans" >
    insert into alg_r_user_module_call_trans (umc_sn, ver_sn, call_usr_sn, 
      owner_usr_sn, start_time, end_time, 
      duration, billed_call_cnt, call_pay_amount, 
      mod_call_cnt)
    values (#{umcSn,jdbcType=VARCHAR}, #{verSn,jdbcType=VARCHAR}, #{callUsrSn,jdbcType=VARCHAR}, 
      #{ownerUsrSn,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{duration,jdbcType=BIGINT}, #{billedCallCnt,jdbcType=BIGINT}, #{callPayAmount,jdbcType=REAL}, 
      #{modCallCnt,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.AlgRUserModuleCallTrans" >
    update alg_r_user_module_call_trans
    set ver_sn = #{verSn,jdbcType=VARCHAR},
      call_usr_sn = #{callUsrSn,jdbcType=VARCHAR},
      owner_usr_sn = #{ownerUsrSn,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      duration = #{duration,jdbcType=BIGINT},
      billed_call_cnt = #{billedCallCnt,jdbcType=BIGINT},
      call_pay_amount = #{callPayAmount,jdbcType=REAL},
      mod_call_cnt = #{modCallCnt,jdbcType=BIGINT}
    where umc_sn = #{umcSn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select umc_sn, ver_sn, call_usr_sn, owner_usr_sn, start_time, end_time, duration, 
    billed_call_cnt, call_pay_amount, mod_call_cnt
    from alg_r_user_module_call_trans
    where umc_sn = #{umcSn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select umc_sn, ver_sn, call_usr_sn, owner_usr_sn, start_time, end_time, duration, 
    billed_call_cnt, call_pay_amount, mod_call_cnt
    from alg_r_user_module_call_trans
  </select>
  <sql id="alg_r_user_module_call_trans">
     select umc_sn, ver_sn, call_usr_sn, owner_usr_sn, start_time, end_time, duration,
     billed_call_cnt, call_pay_amount, mod_call_cnt
     from alg_r_user_module_call_trans
  </sql>
  <select id="selectAlgorithmRecord" resultMap="BaseResultMap" parameterType="java.lang.String"  >
     select callTran.umc_sn, callTran.ver_sn, callTran.call_usr_sn, callTran.owner_usr_sn, callTran.start_time, callTran.end_time, callTran.duration,
     callTran.billed_call_cnt, callTran.call_pay_amount, callTran.mod_call_cnt,alg_module.mod_name
     from alg_r_user_module_call_trans callTran left join  alg_module_version version on callTran.ver_sn=version.ver_sn left join alg_module alg_module on version.mod_sn =alg_module.mod_sn
     where callTran.call_usr_sn =#{callUsrSn,jdbcType=VARCHAR}
  </select>

</mapper>