<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beyond.algo.mapper.AlgSrcFileMapper" >
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.AlgSrcFile" >
    <id column="sfl_sn" property="sflSn" jdbcType="VARCHAR" />
    <result column="sfl_name" property="sflName" jdbcType="VARCHAR" />
    <result column="sfl_url" property="sflUrl" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from alg_src_file
    where sfl_sn = #{sflSn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.AlgSrcFile" >
    insert into alg_src_file (sfl_sn, sfl_name, sfl_url
      )
    values (#{sflSn,jdbcType=VARCHAR}, #{sflName,jdbcType=VARCHAR}, #{sflUrl,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.AlgSrcFile" >
    update alg_src_file
    set sfl_name = #{sflName,jdbcType=VARCHAR},
      sfl_url = #{sflUrl,jdbcType=VARCHAR}
    where sfl_sn = #{sflSn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select sfl_sn, sfl_name, sfl_url
    from alg_src_file
    where sfl_sn = #{sflSn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select sfl_sn, sfl_name, sfl_url
    from alg_src_file
  </select>
</mapper>