<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beyond.algo.mapper.AlgStarMapper" >
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.AlgStar" >
    <id column="star_sn" property="starSn" jdbcType="VARCHAR" />
    <result column="mod_sn" property="modSn" jdbcType="VARCHAR" />
    <result column="usr_sn" property="usrSn" jdbcType="VARCHAR" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from alg_star
    where star_sn = #{starSn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.AlgStar" >
    insert into alg_star (star_sn, mod_sn, usr_sn, 
      creat_time)
    values (#{starSn,jdbcType=VARCHAR}, #{modSn,jdbcType=VARCHAR}, #{usrSn,jdbcType=VARCHAR}, 
      #{creatTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.AlgStar" >
    update alg_star
    set mod_sn = #{modSn,jdbcType=VARCHAR},
      usr_sn = #{usrSn,jdbcType=VARCHAR},
      creat_time = #{creatTime,jdbcType=TIMESTAMP}
    where star_sn = #{starSn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select star_sn, mod_sn, usr_sn, creat_time
    from alg_star
    where star_sn = #{starSn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select star_sn, mod_sn, usr_sn, creat_time
    from alg_star
  </select>
</mapper>