<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beyond.algo.mapper.AlgStarMapper" >
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.AlgStar" >
    <id column="star_sn" property="starSn" jdbcType="VARCHAR" />
    <result column="mod_sn" property="modSn" jdbcType="VARCHAR" />
    <result column="usr_sn" property="usrSn" jdbcType="VARCHAR" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="queryForListMap" type="com.beyond.algo.vo.CollectArticlesVo" >
    <result column="mod_name" jdbcType="VARCHAR" property="modName" />
    <result column="papertext" jdbcType="VARCHAR" property="papertext" />
    <result column="lan_name" jdbcType="VARCHAR" property="lanName" />
    <result column="create_time" jdbcType="VARCHAR" property="collectDate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from alg_star
    where star_sn = #{starSn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.AlgStar" >
    insert into alg_star (star_sn, mod_sn, usr_sn, 
      creat_time)
    values (#{starSn,jdbcType=VARCHAR}, #{modSn,jdbcType=VARCHAR}, #{usrSn,jdbcType=VARCHAR}, 
      #{creatTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.AlgStar" >
    update alg_star
    set mod_sn = #{modSn,jdbcType=VARCHAR},
      usr_sn = #{usrSn,jdbcType=VARCHAR},
      creat_time = #{creatTime,jdbcType=TIMESTAMP}
    where star_sn = #{starSn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select star_sn, mod_sn, usr_sn, creat_time
    from alg_star
    where star_sn = #{starSn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select star_sn, mod_sn, usr_sn, creat_time
    from alg_star
  </select>

  <select id="selectArticles" resultMap="queryForListMap"  parameterType="java.lang.String" >
     select algModule.mod_name,algArticleList.papertext,algProgramLang.lan_name, date_format(algModuleVersion.create_date,'%Y-%c-%d %h:%i:%s')create_time from
     alg_star algStar
            left join  alg_module algModule on algStar.mod_sn=algModule.mod_sn
            left join alg_article_list algArticleList on algModule.atl_sn = algArticleList.id
            left join alg_program_lang algProgramLang on algModule.lan_sn=algProgramLang.lan_sn
            left join alg_module_version algModuleVersion on algModule.mod_sn=algModuleVersion.mod_sn
     where algStar.usr_sn= #{usrSn,jdbcType=VARCHAR}
  </select>
</mapper>