<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beyond.algo.dao.mapper.AuthcodedomainMapper">
  <resultMap id="BaseResultMap" type="com.beyond.algo.dao.model.Authcodedomain">
    <id column="AddSn" jdbcType="VARCHAR" property="addsn" />
    <result column="AcdSn" jdbcType="VARCHAR" property="acdsn" />
    <result column="AddUrl" jdbcType="VARCHAR" property="addurl" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from AuthCodeDomain
    where AddSn = #{addsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.dao.model.Authcodedomain">
    insert into AuthCodeDomain (AddSn, AcdSn, AddUrl
      )
    values (#{addsn,jdbcType=VARCHAR}, #{acdsn,jdbcType=VARCHAR}, #{addurl,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.dao.model.Authcodedomain">
    update AuthCodeDomain
    set AcdSn = #{acdsn,jdbcType=VARCHAR},
      AddUrl = #{addurl,jdbcType=VARCHAR}
    where AddSn = #{addsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select AddSn, AcdSn, AddUrl
    from AuthCodeDomain
    where AddSn = #{addsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select AddSn, AcdSn, AddUrl
    from AuthCodeDomain
  </select>
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.Authcodedomain">
    <id column="AddSn" jdbcType="VARCHAR" property="addsn" />
    <result column="AcdSn" jdbcType="VARCHAR" property="acdsn" />
    <result column="AddUrl" jdbcType="VARCHAR" property="addurl" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from AuthCodeDomain
    where AddSn = #{addsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.Authcodedomain">
    insert into AuthCodeDomain (AddSn, AcdSn, AddUrl
      )
    values (#{addsn,jdbcType=VARCHAR}, #{acdsn,jdbcType=VARCHAR}, #{addurl,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.Authcodedomain">
    update AuthCodeDomain
    set AcdSn = #{acdsn,jdbcType=VARCHAR},
      AddUrl = #{addurl,jdbcType=VARCHAR}
    where AddSn = #{addsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select AddSn, AcdSn, AddUrl
    from AuthCodeDomain
    where AddSn = #{addsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select AddSn, AcdSn, AddUrl
    from AuthCodeDomain
  </select>
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.Authcodedomain">
    <id column="AddSn" jdbcType="VARCHAR" property="addsn" />
    <result column="AcdSn" jdbcType="VARCHAR" property="acdsn" />
    <result column="AddUrl" jdbcType="VARCHAR" property="addurl" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from AuthCodeDomain
    where AddSn = #{addsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.Authcodedomain">
    insert into AuthCodeDomain (AddSn, AcdSn, AddUrl
      )
    values (#{addsn,jdbcType=VARCHAR}, #{acdsn,jdbcType=VARCHAR}, #{addurl,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.Authcodedomain">
    update AuthCodeDomain
    set AcdSn = #{acdsn,jdbcType=VARCHAR},
      AddUrl = #{addurl,jdbcType=VARCHAR}
    where AddSn = #{addsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select AddSn, AcdSn, AddUrl
    from AuthCodeDomain
    where AddSn = #{addsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select AddSn, AcdSn, AddUrl
    from AuthCodeDomain
  </select>
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.Authcodedomain">
    <id column="AddSn" jdbcType="VARCHAR" property="addsn" />
    <result column="AcdSn" jdbcType="VARCHAR" property="acdsn" />
    <result column="AddUrl" jdbcType="VARCHAR" property="addurl" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from AuthCodeDomain
    where AddSn = #{addsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.Authcodedomain">
    insert into AuthCodeDomain (AddSn, AcdSn, AddUrl
      )
    values (#{addsn,jdbcType=VARCHAR}, #{acdsn,jdbcType=VARCHAR}, #{addurl,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.Authcodedomain">
    update AuthCodeDomain
    set AcdSn = #{acdsn,jdbcType=VARCHAR},
      AddUrl = #{addurl,jdbcType=VARCHAR}
    where AddSn = #{addsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select AddSn, AcdSn, AddUrl
    from AuthCodeDomain
    where AddSn = #{addsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select AddSn, AcdSn, AddUrl
    from AuthCodeDomain
  </select>
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.Authcodedomain">
    <id column="AddSn" jdbcType="VARCHAR" property="addsn" />
    <result column="AcdSn" jdbcType="VARCHAR" property="acdsn" />
    <result column="AddUrl" jdbcType="VARCHAR" property="addurl" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from AuthCodeDomain
    where AddSn = #{addsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.Authcodedomain">
    insert into AuthCodeDomain (AddSn, AcdSn, AddUrl
      )
    values (#{addsn,jdbcType=VARCHAR}, #{acdsn,jdbcType=VARCHAR}, #{addurl,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.Authcodedomain">
    update AuthCodeDomain
    set AcdSn = #{acdsn,jdbcType=VARCHAR},
      AddUrl = #{addurl,jdbcType=VARCHAR}
    where AddSn = #{addsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select AddSn, AcdSn, AddUrl
    from AuthCodeDomain
    where AddSn = #{addsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select AddSn, AcdSn, AddUrl
    from AuthCodeDomain
  </select>
</mapper>