<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beyond.algo.dao.mapper.AuthcodeMapper">
  <resultMap id="BaseResultMap" type="com.beyond.algo.dao.model.Authcode">
    <id column="AcdSn" jdbcType="VARCHAR" property="acdsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="AcdName" jdbcType="VARCHAR" property="acdname" />
    <result column="AcdID" jdbcType="VARCHAR" property="acdid" />
    <result column="CallFromClient" jdbcType="VARCHAR" property="callfromclient" />
    <result column="CallFromBrowser" jdbcType="VARCHAR" property="callfrombrowser" />
    <result column="RestrictUrl" jdbcType="VARCHAR" property="restricturl" />
    <result column="DataUseType" jdbcType="VARCHAR" property="datausetype" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from AuthCode
    where AcdSn = #{acdsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.dao.model.Authcode">
    insert into AuthCode (AcdSn, UsrSn, AcdName, 
      AcdID, CallFromClient, CallFromBrowser, 
      RestrictUrl, DataUseType)
    values (#{acdsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, #{acdname,jdbcType=VARCHAR}, 
      #{acdid,jdbcType=VARCHAR}, #{callfromclient,jdbcType=VARCHAR}, #{callfrombrowser,jdbcType=VARCHAR}, 
      #{restricturl,jdbcType=VARCHAR}, #{datausetype,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.dao.model.Authcode">
    update AuthCode
    set UsrSn = #{usrsn,jdbcType=VARCHAR},
      AcdName = #{acdname,jdbcType=VARCHAR},
      AcdID = #{acdid,jdbcType=VARCHAR},
      CallFromClient = #{callfromclient,jdbcType=VARCHAR},
      CallFromBrowser = #{callfrombrowser,jdbcType=VARCHAR},
      RestrictUrl = #{restricturl,jdbcType=VARCHAR},
      DataUseType = #{datausetype,jdbcType=VARCHAR}
    where AcdSn = #{acdsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select AcdSn, UsrSn, AcdName, AcdID, CallFromClient, CallFromBrowser, RestrictUrl, 
    DataUseType
    from AuthCode
    where AcdSn = #{acdsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select AcdSn, UsrSn, AcdName, AcdID, CallFromClient, CallFromBrowser, RestrictUrl, 
    DataUseType
    from AuthCode
  </select>
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.Authcode">
    <id column="AcdSn" jdbcType="VARCHAR" property="acdsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="AcdName" jdbcType="VARCHAR" property="acdname" />
    <result column="AcdID" jdbcType="VARCHAR" property="acdid" />
    <result column="CallFromClient" jdbcType="VARCHAR" property="callfromclient" />
    <result column="CallFromBrowser" jdbcType="VARCHAR" property="callfrombrowser" />
    <result column="RestrictUrl" jdbcType="VARCHAR" property="restricturl" />
    <result column="DataUseType" jdbcType="VARCHAR" property="datausetype" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from AuthCode
    where AcdSn = #{acdsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.Authcode">
    insert into AuthCode (AcdSn, UsrSn, AcdName, 
      AcdID, CallFromClient, CallFromBrowser, 
      RestrictUrl, DataUseType)
    values (#{acdsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, #{acdname,jdbcType=VARCHAR}, 
      #{acdid,jdbcType=VARCHAR}, #{callfromclient,jdbcType=VARCHAR}, #{callfrombrowser,jdbcType=VARCHAR}, 
      #{restricturl,jdbcType=VARCHAR}, #{datausetype,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.Authcode">
    update AuthCode
    set UsrSn = #{usrsn,jdbcType=VARCHAR},
      AcdName = #{acdname,jdbcType=VARCHAR},
      AcdID = #{acdid,jdbcType=VARCHAR},
      CallFromClient = #{callfromclient,jdbcType=VARCHAR},
      CallFromBrowser = #{callfrombrowser,jdbcType=VARCHAR},
      RestrictUrl = #{restricturl,jdbcType=VARCHAR},
      DataUseType = #{datausetype,jdbcType=VARCHAR}
    where AcdSn = #{acdsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select AcdSn, UsrSn, AcdName, AcdID, CallFromClient, CallFromBrowser, RestrictUrl, 
    DataUseType
    from AuthCode
    where AcdSn = #{acdsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select AcdSn, UsrSn, AcdName, AcdID, CallFromClient, CallFromBrowser, RestrictUrl, 
    DataUseType
    from AuthCode
  </select>
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.Authcode">
    <id column="AcdSn" jdbcType="VARCHAR" property="acdsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="AcdName" jdbcType="VARCHAR" property="acdname" />
    <result column="AcdID" jdbcType="VARCHAR" property="acdid" />
    <result column="CallFromClient" jdbcType="VARCHAR" property="callfromclient" />
    <result column="CallFromBrowser" jdbcType="VARCHAR" property="callfrombrowser" />
    <result column="RestrictUrl" jdbcType="VARCHAR" property="restricturl" />
    <result column="DataUseType" jdbcType="VARCHAR" property="datausetype" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from AuthCode
    where AcdSn = #{acdsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.Authcode">
    insert into AuthCode (AcdSn, UsrSn, AcdName, 
      AcdID, CallFromClient, CallFromBrowser, 
      RestrictUrl, DataUseType)
    values (#{acdsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, #{acdname,jdbcType=VARCHAR}, 
      #{acdid,jdbcType=VARCHAR}, #{callfromclient,jdbcType=VARCHAR}, #{callfrombrowser,jdbcType=VARCHAR}, 
      #{restricturl,jdbcType=VARCHAR}, #{datausetype,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.Authcode">
    update AuthCode
    set UsrSn = #{usrsn,jdbcType=VARCHAR},
      AcdName = #{acdname,jdbcType=VARCHAR},
      AcdID = #{acdid,jdbcType=VARCHAR},
      CallFromClient = #{callfromclient,jdbcType=VARCHAR},
      CallFromBrowser = #{callfrombrowser,jdbcType=VARCHAR},
      RestrictUrl = #{restricturl,jdbcType=VARCHAR},
      DataUseType = #{datausetype,jdbcType=VARCHAR}
    where AcdSn = #{acdsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select AcdSn, UsrSn, AcdName, AcdID, CallFromClient, CallFromBrowser, RestrictUrl, 
    DataUseType
    from AuthCode
    where AcdSn = #{acdsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select AcdSn, UsrSn, AcdName, AcdID, CallFromClient, CallFromBrowser, RestrictUrl, 
    DataUseType
    from AuthCode
  </select>
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.Authcode">
    <id column="AcdSn" jdbcType="VARCHAR" property="acdsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="AcdName" jdbcType="VARCHAR" property="acdname" />
    <result column="AcdID" jdbcType="VARCHAR" property="acdid" />
    <result column="CallFromClient" jdbcType="VARCHAR" property="callfromclient" />
    <result column="CallFromBrowser" jdbcType="VARCHAR" property="callfrombrowser" />
    <result column="RestrictUrl" jdbcType="VARCHAR" property="restricturl" />
    <result column="DataUseType" jdbcType="VARCHAR" property="datausetype" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from AuthCode
    where AcdSn = #{acdsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.Authcode">
    insert into AuthCode (AcdSn, UsrSn, AcdName, 
      AcdID, CallFromClient, CallFromBrowser, 
      RestrictUrl, DataUseType)
    values (#{acdsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, #{acdname,jdbcType=VARCHAR}, 
      #{acdid,jdbcType=VARCHAR}, #{callfromclient,jdbcType=VARCHAR}, #{callfrombrowser,jdbcType=VARCHAR}, 
      #{restricturl,jdbcType=VARCHAR}, #{datausetype,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.Authcode">
    update AuthCode
    set UsrSn = #{usrsn,jdbcType=VARCHAR},
      AcdName = #{acdname,jdbcType=VARCHAR},
      AcdID = #{acdid,jdbcType=VARCHAR},
      CallFromClient = #{callfromclient,jdbcType=VARCHAR},
      CallFromBrowser = #{callfrombrowser,jdbcType=VARCHAR},
      RestrictUrl = #{restricturl,jdbcType=VARCHAR},
      DataUseType = #{datausetype,jdbcType=VARCHAR}
    where AcdSn = #{acdsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select AcdSn, UsrSn, AcdName, AcdID, CallFromClient, CallFromBrowser, RestrictUrl, 
    DataUseType
    from AuthCode
    where AcdSn = #{acdsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select AcdSn, UsrSn, AcdName, AcdID, CallFromClient, CallFromBrowser, RestrictUrl, 
    DataUseType
    from AuthCode
  </select>
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.Authcode">
    <id column="AcdSn" jdbcType="VARCHAR" property="acdsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="AcdName" jdbcType="VARCHAR" property="acdname" />
    <result column="AcdID" jdbcType="VARCHAR" property="acdid" />
    <result column="CallFromClient" jdbcType="VARCHAR" property="callfromclient" />
    <result column="CallFromBrowser" jdbcType="VARCHAR" property="callfrombrowser" />
    <result column="RestrictUrl" jdbcType="VARCHAR" property="restricturl" />
    <result column="DataUseType" jdbcType="VARCHAR" property="datausetype" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from AuthCode
    where AcdSn = #{acdsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.Authcode">
    insert into AuthCode (AcdSn, UsrSn, AcdName, 
      AcdID, CallFromClient, CallFromBrowser, 
      RestrictUrl, DataUseType)
    values (#{acdsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, #{acdname,jdbcType=VARCHAR}, 
      #{acdid,jdbcType=VARCHAR}, #{callfromclient,jdbcType=VARCHAR}, #{callfrombrowser,jdbcType=VARCHAR}, 
      #{restricturl,jdbcType=VARCHAR}, #{datausetype,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.Authcode">
    update AuthCode
    set UsrSn = #{usrsn,jdbcType=VARCHAR},
      AcdName = #{acdname,jdbcType=VARCHAR},
      AcdID = #{acdid,jdbcType=VARCHAR},
      CallFromClient = #{callfromclient,jdbcType=VARCHAR},
      CallFromBrowser = #{callfrombrowser,jdbcType=VARCHAR},
      RestrictUrl = #{restricturl,jdbcType=VARCHAR},
      DataUseType = #{datausetype,jdbcType=VARCHAR}
    where AcdSn = #{acdsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select AcdSn, UsrSn, AcdName, AcdID, CallFromClient, CallFromBrowser, RestrictUrl, 
    DataUseType
    from AuthCode
    where AcdSn = #{acdsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select AcdSn, UsrSn, AcdName, AcdID, CallFromClient, CallFromBrowser, RestrictUrl, 
    DataUseType
    from AuthCode
  </select>
</mapper>