<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beyond.algo.dao.mapper.ProgramlangMapper" >
  <resultMap id="BaseResultMap" type="com.beyond.algo.dao.model.Programlang" >
    <id column="LanSn" property="lansn" jdbcType="VARCHAR" />
    <result column="LanName" property="lanname" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ProgramLang
    where LanSn = #{lansn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.dao.model.Programlang" >
    insert into ProgramLang (LanSn, LanName)
    values (#{lansn,jdbcType=VARCHAR}, #{lanname,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.dao.model.Programlang" >
    update ProgramLang
    set LanName = #{lanname,jdbcType=VARCHAR}
    where LanSn = #{lansn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select LanSn, LanName
    from ProgramLang
    where LanSn = #{lansn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select LanSn, LanName
    from ProgramLang
  </select>
</mapper>