<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beyond.algo.dao.mapper.RUserOrgInviteMapper" >
  <resultMap id="BaseResultMap" type="com.beyond.algo.dao.model.RUserOrgInvite" >
    <id column="InvSn" property="invsn" jdbcType="VARCHAR" />
    <result column="OrgSn" property="orgsn" jdbcType="VARCHAR" />
    <result column="UsrSn" property="usrsn" jdbcType="VARCHAR" />
    <result column="UserEmail" property="useremail" jdbcType="VARCHAR" />
    <result column="IsPend" property="ispend" jdbcType="VARCHAR" />
    <result column="IsOldUser" property="isolduser" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from R_User_Org_Invite
    where InvSn = #{invsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.dao.model.RUserOrgInvite" >
    insert into R_User_Org_Invite (InvSn, OrgSn, UsrSn, 
      UserEmail, IsPend, IsOldUser
      )
    values (#{invsn,jdbcType=VARCHAR}, #{orgsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, 
      #{useremail,jdbcType=VARCHAR}, #{ispend,jdbcType=VARCHAR}, #{isolduser,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.dao.model.RUserOrgInvite" >
    update R_User_Org_Invite
    set OrgSn = #{orgsn,jdbcType=VARCHAR},
      UsrSn = #{usrsn,jdbcType=VARCHAR},
      UserEmail = #{useremail,jdbcType=VARCHAR},
      IsPend = #{ispend,jdbcType=VARCHAR},
      IsOldUser = #{isolduser,jdbcType=VARCHAR}
    where InvSn = #{invsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select InvSn, OrgSn, UsrSn, UserEmail, IsPend, IsOldUser
    from R_User_Org_Invite
    where InvSn = #{invsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select InvSn, OrgSn, UsrSn, UserEmail, IsPend, IsOldUser
    from R_User_Org_Invite
  </select>
</mapper>