<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beyond.algo.dao.mapper.RUserOrgInviteMapper">
  <resultMap id="BaseResultMap" type="com.beyond.algo.dao.model.RUserOrgInvite">
    <id column="InvSn" jdbcType="VARCHAR" property="invsn" />
    <result column="OrgSn" jdbcType="VARCHAR" property="orgsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="UserEmail" jdbcType="VARCHAR" property="useremail" />
    <result column="IsPend" jdbcType="VARCHAR" property="ispend" />
    <result column="IsOldUser" jdbcType="VARCHAR" property="isolduser" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from R_User_Org_Invite
    where InvSn = #{invsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.dao.model.RUserOrgInvite">
    insert into R_User_Org_Invite (InvSn, OrgSn, UsrSn, 
      UserEmail, IsPend, IsOldUser
      )
    values (#{invsn,jdbcType=VARCHAR}, #{orgsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, 
      #{useremail,jdbcType=VARCHAR}, #{ispend,jdbcType=VARCHAR}, #{isolduser,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.dao.model.RUserOrgInvite">
    update R_User_Org_Invite
    set OrgSn = #{orgsn,jdbcType=VARCHAR},
      UsrSn = #{usrsn,jdbcType=VARCHAR},
      UserEmail = #{useremail,jdbcType=VARCHAR},
      IsPend = #{ispend,jdbcType=VARCHAR},
      IsOldUser = #{isolduser,jdbcType=VARCHAR}
    where InvSn = #{invsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select InvSn, OrgSn, UsrSn, UserEmail, IsPend, IsOldUser
    from R_User_Org_Invite
    where InvSn = #{invsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select InvSn, OrgSn, UsrSn, UserEmail, IsPend, IsOldUser
    from R_User_Org_Invite
  </select>
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.RUserOrgInvite">
    <id column="InvSn" jdbcType="VARCHAR" property="invsn" />
    <result column="OrgSn" jdbcType="VARCHAR" property="orgsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="UserEmail" jdbcType="VARCHAR" property="useremail" />
    <result column="IsPend" jdbcType="VARCHAR" property="ispend" />
    <result column="IsOldUser" jdbcType="VARCHAR" property="isolduser" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from R_User_Org_Invite
    where InvSn = #{invsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.RUserOrgInvite">
    insert into R_User_Org_Invite (InvSn, OrgSn, UsrSn, 
      UserEmail, IsPend, IsOldUser
      )
    values (#{invsn,jdbcType=VARCHAR}, #{orgsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, 
      #{useremail,jdbcType=VARCHAR}, #{ispend,jdbcType=VARCHAR}, #{isolduser,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.RUserOrgInvite">
    update R_User_Org_Invite
    set OrgSn = #{orgsn,jdbcType=VARCHAR},
      UsrSn = #{usrsn,jdbcType=VARCHAR},
      UserEmail = #{useremail,jdbcType=VARCHAR},
      IsPend = #{ispend,jdbcType=VARCHAR},
      IsOldUser = #{isolduser,jdbcType=VARCHAR}
    where InvSn = #{invsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select InvSn, OrgSn, UsrSn, UserEmail, IsPend, IsOldUser
    from R_User_Org_Invite
    where InvSn = #{invsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select InvSn, OrgSn, UsrSn, UserEmail, IsPend, IsOldUser
    from R_User_Org_Invite
  </select>
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.RUserOrgInvite">
    <id column="InvSn" jdbcType="VARCHAR" property="invsn" />
    <result column="OrgSn" jdbcType="VARCHAR" property="orgsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="UserEmail" jdbcType="VARCHAR" property="useremail" />
    <result column="IsPend" jdbcType="VARCHAR" property="ispend" />
    <result column="IsOldUser" jdbcType="VARCHAR" property="isolduser" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from R_User_Org_Invite
    where InvSn = #{invsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.RUserOrgInvite">
    insert into R_User_Org_Invite (InvSn, OrgSn, UsrSn, 
      UserEmail, IsPend, IsOldUser
      )
    values (#{invsn,jdbcType=VARCHAR}, #{orgsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, 
      #{useremail,jdbcType=VARCHAR}, #{ispend,jdbcType=VARCHAR}, #{isolduser,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.RUserOrgInvite">
    update R_User_Org_Invite
    set OrgSn = #{orgsn,jdbcType=VARCHAR},
      UsrSn = #{usrsn,jdbcType=VARCHAR},
      UserEmail = #{useremail,jdbcType=VARCHAR},
      IsPend = #{ispend,jdbcType=VARCHAR},
      IsOldUser = #{isolduser,jdbcType=VARCHAR}
    where InvSn = #{invsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select InvSn, OrgSn, UsrSn, UserEmail, IsPend, IsOldUser
    from R_User_Org_Invite
    where InvSn = #{invsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select InvSn, OrgSn, UsrSn, UserEmail, IsPend, IsOldUser
    from R_User_Org_Invite
  </select>
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.RUserOrgInvite">
    <id column="InvSn" jdbcType="VARCHAR" property="invsn" />
    <result column="OrgSn" jdbcType="VARCHAR" property="orgsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="UserEmail" jdbcType="VARCHAR" property="useremail" />
    <result column="IsPend" jdbcType="VARCHAR" property="ispend" />
    <result column="IsOldUser" jdbcType="VARCHAR" property="isolduser" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from R_User_Org_Invite
    where InvSn = #{invsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.RUserOrgInvite">
    insert into R_User_Org_Invite (InvSn, OrgSn, UsrSn, 
      UserEmail, IsPend, IsOldUser
      )
    values (#{invsn,jdbcType=VARCHAR}, #{orgsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, 
      #{useremail,jdbcType=VARCHAR}, #{ispend,jdbcType=VARCHAR}, #{isolduser,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.RUserOrgInvite">
    update R_User_Org_Invite
    set OrgSn = #{orgsn,jdbcType=VARCHAR},
      UsrSn = #{usrsn,jdbcType=VARCHAR},
      UserEmail = #{useremail,jdbcType=VARCHAR},
      IsPend = #{ispend,jdbcType=VARCHAR},
      IsOldUser = #{isolduser,jdbcType=VARCHAR}
    where InvSn = #{invsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select InvSn, OrgSn, UsrSn, UserEmail, IsPend, IsOldUser
    from R_User_Org_Invite
    where InvSn = #{invsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select InvSn, OrgSn, UsrSn, UserEmail, IsPend, IsOldUser
    from R_User_Org_Invite
  </select>
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.RUserOrgInvite">
    <id column="InvSn" jdbcType="VARCHAR" property="invsn" />
    <result column="OrgSn" jdbcType="VARCHAR" property="orgsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="UserEmail" jdbcType="VARCHAR" property="useremail" />
    <result column="IsPend" jdbcType="VARCHAR" property="ispend" />
    <result column="IsOldUser" jdbcType="VARCHAR" property="isolduser" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from R_User_Org_Invite
    where InvSn = #{invsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.RUserOrgInvite">
    insert into R_User_Org_Invite (InvSn, OrgSn, UsrSn, 
      UserEmail, IsPend, IsOldUser
      )
    values (#{invsn,jdbcType=VARCHAR}, #{orgsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, 
      #{useremail,jdbcType=VARCHAR}, #{ispend,jdbcType=VARCHAR}, #{isolduser,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.RUserOrgInvite">
    update R_User_Org_Invite
    set OrgSn = #{orgsn,jdbcType=VARCHAR},
      UsrSn = #{usrsn,jdbcType=VARCHAR},
      UserEmail = #{useremail,jdbcType=VARCHAR},
      IsPend = #{ispend,jdbcType=VARCHAR},
      IsOldUser = #{isolduser,jdbcType=VARCHAR}
    where InvSn = #{invsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select InvSn, OrgSn, UsrSn, UserEmail, IsPend, IsOldUser
    from R_User_Org_Invite
    where InvSn = #{invsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select InvSn, OrgSn, UsrSn, UserEmail, IsPend, IsOldUser
    from R_User_Org_Invite
  </select>
</mapper>