<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beyond.algo.dao.mapper.RUserModuleWatchMapper">
  <resultMap id="BaseResultMap" type="com.beyond.algo.dao.model.RUserModuleWatch">
    <id column="WtcSn" jdbcType="VARCHAR" property="wtcsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="ModSn" jdbcType="VARCHAR" property="modsn" />
    <result column="WtcHasStar" jdbcType="VARCHAR" property="wtchasstar" />
    <result column="WtcHasFollow" jdbcType="VARCHAR" property="wtchasfollow" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from R_User_Module_Watch
    where WtcSn = #{wtcsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.dao.model.RUserModuleWatch">
    insert into R_User_Module_Watch (WtcSn, UsrSn, ModSn, 
      WtcHasStar, WtcHasFollow)
    values (#{wtcsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, #{modsn,jdbcType=VARCHAR}, 
      #{wtchasstar,jdbcType=VARCHAR}, #{wtchasfollow,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.dao.model.RUserModuleWatch">
    update R_User_Module_Watch
    set UsrSn = #{usrsn,jdbcType=VARCHAR},
      ModSn = #{modsn,jdbcType=VARCHAR},
      WtcHasStar = #{wtchasstar,jdbcType=VARCHAR},
      WtcHasFollow = #{wtchasfollow,jdbcType=VARCHAR}
    where WtcSn = #{wtcsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select WtcSn, UsrSn, ModSn, WtcHasStar, WtcHasFollow
    from R_User_Module_Watch
    where WtcSn = #{wtcsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select WtcSn, UsrSn, ModSn, WtcHasStar, WtcHasFollow
    from R_User_Module_Watch
  </select>
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.RUserModuleWatch">
    <id column="WtcSn" jdbcType="VARCHAR" property="wtcsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="ModSn" jdbcType="VARCHAR" property="modsn" />
    <result column="WtcHasStar" jdbcType="VARCHAR" property="wtchasstar" />
    <result column="WtcHasFollow" jdbcType="VARCHAR" property="wtchasfollow" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from R_User_Module_Watch
    where WtcSn = #{wtcsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.RUserModuleWatch">
    insert into R_User_Module_Watch (WtcSn, UsrSn, ModSn, 
      WtcHasStar, WtcHasFollow)
    values (#{wtcsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, #{modsn,jdbcType=VARCHAR}, 
      #{wtchasstar,jdbcType=VARCHAR}, #{wtchasfollow,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.RUserModuleWatch">
    update R_User_Module_Watch
    set UsrSn = #{usrsn,jdbcType=VARCHAR},
      ModSn = #{modsn,jdbcType=VARCHAR},
      WtcHasStar = #{wtchasstar,jdbcType=VARCHAR},
      WtcHasFollow = #{wtchasfollow,jdbcType=VARCHAR}
    where WtcSn = #{wtcsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select WtcSn, UsrSn, ModSn, WtcHasStar, WtcHasFollow
    from R_User_Module_Watch
    where WtcSn = #{wtcsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select WtcSn, UsrSn, ModSn, WtcHasStar, WtcHasFollow
    from R_User_Module_Watch
  </select>
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.RUserModuleWatch">
    <id column="WtcSn" jdbcType="VARCHAR" property="wtcsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="ModSn" jdbcType="VARCHAR" property="modsn" />
    <result column="WtcHasStar" jdbcType="VARCHAR" property="wtchasstar" />
    <result column="WtcHasFollow" jdbcType="VARCHAR" property="wtchasfollow" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from R_User_Module_Watch
    where WtcSn = #{wtcsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.RUserModuleWatch">
    insert into R_User_Module_Watch (WtcSn, UsrSn, ModSn, 
      WtcHasStar, WtcHasFollow)
    values (#{wtcsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, #{modsn,jdbcType=VARCHAR}, 
      #{wtchasstar,jdbcType=VARCHAR}, #{wtchasfollow,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.RUserModuleWatch">
    update R_User_Module_Watch
    set UsrSn = #{usrsn,jdbcType=VARCHAR},
      ModSn = #{modsn,jdbcType=VARCHAR},
      WtcHasStar = #{wtchasstar,jdbcType=VARCHAR},
      WtcHasFollow = #{wtchasfollow,jdbcType=VARCHAR}
    where WtcSn = #{wtcsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select WtcSn, UsrSn, ModSn, WtcHasStar, WtcHasFollow
    from R_User_Module_Watch
    where WtcSn = #{wtcsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select WtcSn, UsrSn, ModSn, WtcHasStar, WtcHasFollow
    from R_User_Module_Watch
  </select>
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.RUserModuleWatch">
    <id column="WtcSn" jdbcType="VARCHAR" property="wtcsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="ModSn" jdbcType="VARCHAR" property="modsn" />
    <result column="WtcHasStar" jdbcType="VARCHAR" property="wtchasstar" />
    <result column="WtcHasFollow" jdbcType="VARCHAR" property="wtchasfollow" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from R_User_Module_Watch
    where WtcSn = #{wtcsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.RUserModuleWatch">
    insert into R_User_Module_Watch (WtcSn, UsrSn, ModSn, 
      WtcHasStar, WtcHasFollow)
    values (#{wtcsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, #{modsn,jdbcType=VARCHAR}, 
      #{wtchasstar,jdbcType=VARCHAR}, #{wtchasfollow,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.RUserModuleWatch">
    update R_User_Module_Watch
    set UsrSn = #{usrsn,jdbcType=VARCHAR},
      ModSn = #{modsn,jdbcType=VARCHAR},
      WtcHasStar = #{wtchasstar,jdbcType=VARCHAR},
      WtcHasFollow = #{wtchasfollow,jdbcType=VARCHAR}
    where WtcSn = #{wtcsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select WtcSn, UsrSn, ModSn, WtcHasStar, WtcHasFollow
    from R_User_Module_Watch
    where WtcSn = #{wtcsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select WtcSn, UsrSn, ModSn, WtcHasStar, WtcHasFollow
    from R_User_Module_Watch
  </select>
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.RUserModuleWatch">
    <id column="WtcSn" jdbcType="VARCHAR" property="wtcsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="ModSn" jdbcType="VARCHAR" property="modsn" />
    <result column="WtcHasStar" jdbcType="VARCHAR" property="wtchasstar" />
    <result column="WtcHasFollow" jdbcType="VARCHAR" property="wtchasfollow" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from R_User_Module_Watch
    where WtcSn = #{wtcsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.RUserModuleWatch">
    insert into R_User_Module_Watch (WtcSn, UsrSn, ModSn, 
      WtcHasStar, WtcHasFollow)
    values (#{wtcsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, #{modsn,jdbcType=VARCHAR}, 
      #{wtchasstar,jdbcType=VARCHAR}, #{wtchasfollow,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.RUserModuleWatch">
    update R_User_Module_Watch
    set UsrSn = #{usrsn,jdbcType=VARCHAR},
      ModSn = #{modsn,jdbcType=VARCHAR},
      WtcHasStar = #{wtchasstar,jdbcType=VARCHAR},
      WtcHasFollow = #{wtchasfollow,jdbcType=VARCHAR}
    where WtcSn = #{wtcsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select WtcSn, UsrSn, ModSn, WtcHasStar, WtcHasFollow
    from R_User_Module_Watch
    where WtcSn = #{wtcsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select WtcSn, UsrSn, ModSn, WtcHasStar, WtcHasFollow
    from R_User_Module_Watch
  </select>
</mapper>