<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beyond.algo.mapper.AlActivityMapper" >
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.AlActivity" >
    <id column="activity_id" property="activityId" jdbcType="INTEGER" />
    <result column="activity_name" property="activityName" jdbcType="VARCHAR" />
    <result column="activity_rule" property="activityRule" jdbcType="INTEGER" />
    <result column="activity_statue" property="activityStatue" jdbcType="CHAR" />
    <result column="create_date" property="createDate" jdbcType="BIGINT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from al_activity
    where activity_id = #{activityId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.AlActivity" >
    insert into al_activity (activity_id, activity_name, activity_rule, 
      activity_statue, create_date)
    values (#{activityId,jdbcType=INTEGER}, #{activityName,jdbcType=VARCHAR}, #{activityRule,jdbcType=INTEGER}, 
      #{activityStatue,jdbcType=CHAR}, #{createDate,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.AlActivity" >
    update al_activity
    set activity_name = #{activityName,jdbcType=VARCHAR},
      activity_rule = #{activityRule,jdbcType=INTEGER},
      activity_statue = #{activityStatue,jdbcType=CHAR},
      create_date = #{createDate,jdbcType=BIGINT}
    where activity_id = #{activityId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select activity_id, activity_name, activity_rule, activity_statue, create_date
    from al_activity
    where activity_id = #{activityId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select activity_id, activity_name, activity_rule, activity_statue, create_date
    from al_activity
  </select>
</mapper>