<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beyond.algo.mapper.ModuleMapper">
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.Module">
    <id column="ModSn" jdbcType="VARCHAR" property="modsn" />
    <result column="UsgSn" jdbcType="VARCHAR" property="usgsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="LanSn" jdbcType="VARCHAR" property="lansn" />
    <result column="LicSn" jdbcType="VARCHAR" property="licsn" />
    <result column="ModName" jdbcType="VARCHAR" property="modname" />
    <result column="ModID" jdbcType="VARCHAR" property="modid" />
    <result column="IsOpenSrc" jdbcType="VARCHAR" property="isopensrc" />
    <result column="NeedWeb" jdbcType="VARCHAR" property="needweb" />
    <result column="CallOther" jdbcType="VARCHAR" property="callother" />
    <result column="EnvType" jdbcType="VARCHAR" property="envtype" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from Module
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.Module">
    insert into Module (ModSn, UsgSn, UsrSn, 
      LanSn, LicSn, ModName, 
      ModID, IsOpenSrc, NeedWeb, 
      CallOther, EnvType)
    values (#{modsn,jdbcType=VARCHAR}, #{usgsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, 
      #{lansn,jdbcType=VARCHAR}, #{licsn,jdbcType=VARCHAR}, #{modname,jdbcType=VARCHAR}, 
      #{modid,jdbcType=VARCHAR}, #{isopensrc,jdbcType=VARCHAR}, #{needweb,jdbcType=VARCHAR}, 
      #{callother,jdbcType=VARCHAR}, #{envtype,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.Module">
    update Module
    set UsgSn = #{usgsn,jdbcType=VARCHAR},
      UsrSn = #{usrsn,jdbcType=VARCHAR},
      LanSn = #{lansn,jdbcType=VARCHAR},
      LicSn = #{licsn,jdbcType=VARCHAR},
      ModName = #{modname,jdbcType=VARCHAR},
      ModID = #{modid,jdbcType=VARCHAR},
      IsOpenSrc = #{isopensrc,jdbcType=VARCHAR},
      NeedWeb = #{needweb,jdbcType=VARCHAR},
      CallOther = #{callother,jdbcType=VARCHAR},
      EnvType = #{envtype,jdbcType=VARCHAR}
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ModSn, UsgSn, UsrSn, LanSn, LicSn, ModName, ModID, IsOpenSrc, NeedWeb, CallOther, 
    EnvType
    from Module
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ModSn, UsgSn, UsrSn, LanSn, LicSn, ModName, ModID, IsOpenSrc, NeedWeb, CallOther, 
    EnvType
    from Module
  </select>
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.Module">
    <id column="ModSn" jdbcType="VARCHAR" property="modsn" />
    <result column="UsgSn" jdbcType="VARCHAR" property="usgsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="LanSn" jdbcType="VARCHAR" property="lansn" />
    <result column="LicSn" jdbcType="VARCHAR" property="licsn" />
    <result column="ModName" jdbcType="VARCHAR" property="modname" />
    <result column="ModID" jdbcType="VARCHAR" property="modid" />
    <result column="IsOpenSrc" jdbcType="VARCHAR" property="isopensrc" />
    <result column="NeedWeb" jdbcType="VARCHAR" property="needweb" />
    <result column="CallOther" jdbcType="VARCHAR" property="callother" />
    <result column="EnvType" jdbcType="VARCHAR" property="envtype" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from Module
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.Module">
    insert into Module (ModSn, UsgSn, UsrSn, 
      LanSn, LicSn, ModName, 
      ModID, IsOpenSrc, NeedWeb, 
      CallOther, EnvType)
    values (#{modsn,jdbcType=VARCHAR}, #{usgsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, 
      #{lansn,jdbcType=VARCHAR}, #{licsn,jdbcType=VARCHAR}, #{modname,jdbcType=VARCHAR}, 
      #{modid,jdbcType=VARCHAR}, #{isopensrc,jdbcType=VARCHAR}, #{needweb,jdbcType=VARCHAR}, 
      #{callother,jdbcType=VARCHAR}, #{envtype,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.Module">
    update Module
    set UsgSn = #{usgsn,jdbcType=VARCHAR},
      UsrSn = #{usrsn,jdbcType=VARCHAR},
      LanSn = #{lansn,jdbcType=VARCHAR},
      LicSn = #{licsn,jdbcType=VARCHAR},
      ModName = #{modname,jdbcType=VARCHAR},
      ModID = #{modid,jdbcType=VARCHAR},
      IsOpenSrc = #{isopensrc,jdbcType=VARCHAR},
      NeedWeb = #{needweb,jdbcType=VARCHAR},
      CallOther = #{callother,jdbcType=VARCHAR},
      EnvType = #{envtype,jdbcType=VARCHAR}
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ModSn, UsgSn, UsrSn, LanSn, LicSn, ModName, ModID, IsOpenSrc, NeedWeb, CallOther, 
    EnvType
    from Module
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ModSn, UsgSn, UsrSn, LanSn, LicSn, ModName, ModID, IsOpenSrc, NeedWeb, CallOther, 
    EnvType
    from Module
  </select>
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.Module">
    <id column="ModSn" jdbcType="VARCHAR" property="modsn" />
    <result column="UsgSn" jdbcType="VARCHAR" property="usgsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="LanSn" jdbcType="VARCHAR" property="lansn" />
    <result column="LicSn" jdbcType="VARCHAR" property="licsn" />
    <result column="ModName" jdbcType="VARCHAR" property="modname" />
    <result column="ModID" jdbcType="VARCHAR" property="modid" />
    <result column="IsOpenSrc" jdbcType="VARCHAR" property="isopensrc" />
    <result column="NeedWeb" jdbcType="VARCHAR" property="needweb" />
    <result column="CallOther" jdbcType="VARCHAR" property="callother" />
    <result column="EnvType" jdbcType="VARCHAR" property="envtype" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from Module
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.Module">
    insert into Module (ModSn, UsgSn, UsrSn, 
      LanSn, LicSn, ModName, 
      ModID, IsOpenSrc, NeedWeb, 
      CallOther, EnvType)
    values (#{modsn,jdbcType=VARCHAR}, #{usgsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, 
      #{lansn,jdbcType=VARCHAR}, #{licsn,jdbcType=VARCHAR}, #{modname,jdbcType=VARCHAR}, 
      #{modid,jdbcType=VARCHAR}, #{isopensrc,jdbcType=VARCHAR}, #{needweb,jdbcType=VARCHAR}, 
      #{callother,jdbcType=VARCHAR}, #{envtype,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.Module">
    update Module
    set UsgSn = #{usgsn,jdbcType=VARCHAR},
      UsrSn = #{usrsn,jdbcType=VARCHAR},
      LanSn = #{lansn,jdbcType=VARCHAR},
      LicSn = #{licsn,jdbcType=VARCHAR},
      ModName = #{modname,jdbcType=VARCHAR},
      ModID = #{modid,jdbcType=VARCHAR},
      IsOpenSrc = #{isopensrc,jdbcType=VARCHAR},
      NeedWeb = #{needweb,jdbcType=VARCHAR},
      CallOther = #{callother,jdbcType=VARCHAR},
      EnvType = #{envtype,jdbcType=VARCHAR}
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ModSn, UsgSn, UsrSn, LanSn, LicSn, ModName, ModID, IsOpenSrc, NeedWeb, CallOther, 
    EnvType
    from Module
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ModSn, UsgSn, UsrSn, LanSn, LicSn, ModName, ModID, IsOpenSrc, NeedWeb, CallOther, 
    EnvType
    from Module
  </select>
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.Module">
    <id column="ModSn" jdbcType="VARCHAR" property="modsn" />
    <result column="UsgSn" jdbcType="VARCHAR" property="usgsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="LanSn" jdbcType="VARCHAR" property="lansn" />
    <result column="LicSn" jdbcType="VARCHAR" property="licsn" />
    <result column="ModName" jdbcType="VARCHAR" property="modname" />
    <result column="ModID" jdbcType="VARCHAR" property="modid" />
    <result column="IsOpenSrc" jdbcType="VARCHAR" property="isopensrc" />
    <result column="NeedWeb" jdbcType="VARCHAR" property="needweb" />
    <result column="CallOther" jdbcType="VARCHAR" property="callother" />
    <result column="EnvType" jdbcType="VARCHAR" property="envtype" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from Module
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.Module">
    insert into Module (ModSn, UsgSn, UsrSn, 
      LanSn, LicSn, ModName, 
      ModID, IsOpenSrc, NeedWeb, 
      CallOther, EnvType)
    values (#{modsn,jdbcType=VARCHAR}, #{usgsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, 
      #{lansn,jdbcType=VARCHAR}, #{licsn,jdbcType=VARCHAR}, #{modname,jdbcType=VARCHAR}, 
      #{modid,jdbcType=VARCHAR}, #{isopensrc,jdbcType=VARCHAR}, #{needweb,jdbcType=VARCHAR}, 
      #{callother,jdbcType=VARCHAR}, #{envtype,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.Module">
    update Module
    set UsgSn = #{usgsn,jdbcType=VARCHAR},
      UsrSn = #{usrsn,jdbcType=VARCHAR},
      LanSn = #{lansn,jdbcType=VARCHAR},
      LicSn = #{licsn,jdbcType=VARCHAR},
      ModName = #{modname,jdbcType=VARCHAR},
      ModID = #{modid,jdbcType=VARCHAR},
      IsOpenSrc = #{isopensrc,jdbcType=VARCHAR},
      NeedWeb = #{needweb,jdbcType=VARCHAR},
      CallOther = #{callother,jdbcType=VARCHAR},
      EnvType = #{envtype,jdbcType=VARCHAR}
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ModSn, UsgSn, UsrSn, LanSn, LicSn, ModName, ModID, IsOpenSrc, NeedWeb, CallOther, 
    EnvType
    from Module
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ModSn, UsgSn, UsrSn, LanSn, LicSn, ModName, ModID, IsOpenSrc, NeedWeb, CallOther, 
    EnvType
    from Module
  </select>
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.Module">
    <id column="ModSn" jdbcType="VARCHAR" property="modsn" />
    <result column="UsgSn" jdbcType="VARCHAR" property="usgsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="LanSn" jdbcType="VARCHAR" property="lansn" />
    <result column="LicSn" jdbcType="VARCHAR" property="licsn" />
    <result column="ModName" jdbcType="VARCHAR" property="modname" />
    <result column="ModID" jdbcType="VARCHAR" property="modid" />
    <result column="IsOpenSrc" jdbcType="VARCHAR" property="isopensrc" />
    <result column="NeedWeb" jdbcType="VARCHAR" property="needweb" />
    <result column="CallOther" jdbcType="VARCHAR" property="callother" />
    <result column="EnvType" jdbcType="VARCHAR" property="envtype" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from Module
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.Module">
    insert into Module (ModSn, UsgSn, UsrSn, 
      LanSn, LicSn, ModName, 
      ModID, IsOpenSrc, NeedWeb, 
      CallOther, EnvType)
    values (#{modsn,jdbcType=VARCHAR}, #{usgsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, 
      #{lansn,jdbcType=VARCHAR}, #{licsn,jdbcType=VARCHAR}, #{modname,jdbcType=VARCHAR}, 
      #{modid,jdbcType=VARCHAR}, #{isopensrc,jdbcType=VARCHAR}, #{needweb,jdbcType=VARCHAR}, 
      #{callother,jdbcType=VARCHAR}, #{envtype,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.Module">
    update Module
    set UsgSn = #{usgsn,jdbcType=VARCHAR},
      UsrSn = #{usrsn,jdbcType=VARCHAR},
      LanSn = #{lansn,jdbcType=VARCHAR},
      LicSn = #{licsn,jdbcType=VARCHAR},
      ModName = #{modname,jdbcType=VARCHAR},
      ModID = #{modid,jdbcType=VARCHAR},
      IsOpenSrc = #{isopensrc,jdbcType=VARCHAR},
      NeedWeb = #{needweb,jdbcType=VARCHAR},
      CallOther = #{callother,jdbcType=VARCHAR},
      EnvType = #{envtype,jdbcType=VARCHAR}
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ModSn, UsgSn, UsrSn, LanSn, LicSn, ModName, ModID, IsOpenSrc, NeedWeb, CallOther, 
    EnvType
    from Module
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ModSn, UsgSn, UsrSn, LanSn, LicSn, ModName, ModID, IsOpenSrc, NeedWeb, CallOther, 
    EnvType
    from Module
  </select>
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.Module">
    <id column="ModSn" jdbcType="VARCHAR" property="modsn" />
    <result column="UsgSn" jdbcType="VARCHAR" property="usgsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="LanSn" jdbcType="VARCHAR" property="lansn" />
    <result column="LicSn" jdbcType="VARCHAR" property="licsn" />
    <result column="ModName" jdbcType="VARCHAR" property="modname" />
    <result column="ModID" jdbcType="VARCHAR" property="modid" />
    <result column="IsOpenSrc" jdbcType="VARCHAR" property="isopensrc" />
    <result column="NeedWeb" jdbcType="VARCHAR" property="needweb" />
    <result column="CallOther" jdbcType="VARCHAR" property="callother" />
    <result column="EnvType" jdbcType="VARCHAR" property="envtype" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from Module
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.Module">
    insert into Module (ModSn, UsgSn, UsrSn, 
      LanSn, LicSn, ModName, 
      ModID, IsOpenSrc, NeedWeb, 
      CallOther, EnvType)
    values (#{modsn,jdbcType=VARCHAR}, #{usgsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, 
      #{lansn,jdbcType=VARCHAR}, #{licsn,jdbcType=VARCHAR}, #{modname,jdbcType=VARCHAR}, 
      #{modid,jdbcType=VARCHAR}, #{isopensrc,jdbcType=VARCHAR}, #{needweb,jdbcType=VARCHAR}, 
      #{callother,jdbcType=VARCHAR}, #{envtype,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.Module">
    update Module
    set UsgSn = #{usgsn,jdbcType=VARCHAR},
      UsrSn = #{usrsn,jdbcType=VARCHAR},
      LanSn = #{lansn,jdbcType=VARCHAR},
      LicSn = #{licsn,jdbcType=VARCHAR},
      ModName = #{modname,jdbcType=VARCHAR},
      ModID = #{modid,jdbcType=VARCHAR},
      IsOpenSrc = #{isopensrc,jdbcType=VARCHAR},
      NeedWeb = #{needweb,jdbcType=VARCHAR},
      CallOther = #{callother,jdbcType=VARCHAR},
      EnvType = #{envtype,jdbcType=VARCHAR}
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ModSn, UsgSn, UsrSn, LanSn, LicSn, ModName, ModID, IsOpenSrc, NeedWeb, CallOther, 
    EnvType
    from Module
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ModSn, UsgSn, UsrSn, LanSn, LicSn, ModName, ModID, IsOpenSrc, NeedWeb, CallOther, 
    EnvType
    from Module
  </select>
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.Module">
    <id column="ModSn" jdbcType="VARCHAR" property="modsn" />
    <result column="UsgSn" jdbcType="VARCHAR" property="usgsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="LanSn" jdbcType="VARCHAR" property="lansn" />
    <result column="LicSn" jdbcType="VARCHAR" property="licsn" />
    <result column="ModName" jdbcType="VARCHAR" property="modname" />
    <result column="ModID" jdbcType="VARCHAR" property="modid" />
    <result column="IsOpenSrc" jdbcType="VARCHAR" property="isopensrc" />
    <result column="NeedWeb" jdbcType="VARCHAR" property="needweb" />
    <result column="CallOther" jdbcType="VARCHAR" property="callother" />
    <result column="EnvType" jdbcType="VARCHAR" property="envtype" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from Module
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.Module">
    insert into Module (ModSn, UsgSn, UsrSn, 
      LanSn, LicSn, ModName, 
      ModID, IsOpenSrc, NeedWeb, 
      CallOther, EnvType)
    values (#{modsn,jdbcType=VARCHAR}, #{usgsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, 
      #{lansn,jdbcType=VARCHAR}, #{licsn,jdbcType=VARCHAR}, #{modname,jdbcType=VARCHAR}, 
      #{modid,jdbcType=VARCHAR}, #{isopensrc,jdbcType=VARCHAR}, #{needweb,jdbcType=VARCHAR}, 
      #{callother,jdbcType=VARCHAR}, #{envtype,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.Module">
    update Module
    set UsgSn = #{usgsn,jdbcType=VARCHAR},
      UsrSn = #{usrsn,jdbcType=VARCHAR},
      LanSn = #{lansn,jdbcType=VARCHAR},
      LicSn = #{licsn,jdbcType=VARCHAR},
      ModName = #{modname,jdbcType=VARCHAR},
      ModID = #{modid,jdbcType=VARCHAR},
      IsOpenSrc = #{isopensrc,jdbcType=VARCHAR},
      NeedWeb = #{needweb,jdbcType=VARCHAR},
      CallOther = #{callother,jdbcType=VARCHAR},
      EnvType = #{envtype,jdbcType=VARCHAR}
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ModSn, UsgSn, UsrSn, LanSn, LicSn, ModName, ModID, IsOpenSrc, NeedWeb, CallOther, 
    EnvType
    from Module
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ModSn, UsgSn, UsrSn, LanSn, LicSn, ModName, ModID, IsOpenSrc, NeedWeb, CallOther, 
    EnvType
    from Module
  </select>
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.Module">
    <id column="ModSn" jdbcType="VARCHAR" property="modsn" />
    <result column="UsgSn" jdbcType="VARCHAR" property="usgsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="LanSn" jdbcType="VARCHAR" property="lansn" />
    <result column="LicSn" jdbcType="VARCHAR" property="licsn" />
    <result column="ModName" jdbcType="VARCHAR" property="modname" />
    <result column="ModID" jdbcType="VARCHAR" property="modid" />
    <result column="IsOpenSrc" jdbcType="VARCHAR" property="isopensrc" />
    <result column="NeedWeb" jdbcType="VARCHAR" property="needweb" />
    <result column="CallOther" jdbcType="VARCHAR" property="callother" />
    <result column="EnvType" jdbcType="VARCHAR" property="envtype" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from Module
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.Module">
    insert into Module (ModSn, UsgSn, UsrSn, 
      LanSn, LicSn, ModName, 
      ModID, IsOpenSrc, NeedWeb, 
      CallOther, EnvType)
    values (#{modsn,jdbcType=VARCHAR}, #{usgsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, 
      #{lansn,jdbcType=VARCHAR}, #{licsn,jdbcType=VARCHAR}, #{modname,jdbcType=VARCHAR}, 
      #{modid,jdbcType=VARCHAR}, #{isopensrc,jdbcType=VARCHAR}, #{needweb,jdbcType=VARCHAR}, 
      #{callother,jdbcType=VARCHAR}, #{envtype,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.Module">
    update Module
    set UsgSn = #{usgsn,jdbcType=VARCHAR},
      UsrSn = #{usrsn,jdbcType=VARCHAR},
      LanSn = #{lansn,jdbcType=VARCHAR},
      LicSn = #{licsn,jdbcType=VARCHAR},
      ModName = #{modname,jdbcType=VARCHAR},
      ModID = #{modid,jdbcType=VARCHAR},
      IsOpenSrc = #{isopensrc,jdbcType=VARCHAR},
      NeedWeb = #{needweb,jdbcType=VARCHAR},
      CallOther = #{callother,jdbcType=VARCHAR},
      EnvType = #{envtype,jdbcType=VARCHAR}
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ModSn, UsgSn, UsrSn, LanSn, LicSn, ModName, ModID, IsOpenSrc, NeedWeb, CallOther, 
    EnvType
    from Module
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ModSn, UsgSn, UsrSn, LanSn, LicSn, ModName, ModID, IsOpenSrc, NeedWeb, CallOther, 
    EnvType
    from Module
  </select>
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.Module">
    <id column="ModSn" jdbcType="VARCHAR" property="modsn" />
    <result column="UsgSn" jdbcType="VARCHAR" property="usgsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="LanSn" jdbcType="VARCHAR" property="lansn" />
    <result column="LicSn" jdbcType="VARCHAR" property="licsn" />
    <result column="ModName" jdbcType="VARCHAR" property="modname" />
    <result column="ModID" jdbcType="VARCHAR" property="modid" />
    <result column="IsOpenSrc" jdbcType="VARCHAR" property="isopensrc" />
    <result column="NeedWeb" jdbcType="VARCHAR" property="needweb" />
    <result column="CallOther" jdbcType="VARCHAR" property="callother" />
    <result column="EnvType" jdbcType="VARCHAR" property="envtype" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from Module
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.Module">
    insert into Module (ModSn, UsgSn, UsrSn, 
      LanSn, LicSn, ModName, 
      ModID, IsOpenSrc, NeedWeb, 
      CallOther, EnvType)
    values (#{modsn,jdbcType=VARCHAR}, #{usgsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, 
      #{lansn,jdbcType=VARCHAR}, #{licsn,jdbcType=VARCHAR}, #{modname,jdbcType=VARCHAR}, 
      #{modid,jdbcType=VARCHAR}, #{isopensrc,jdbcType=VARCHAR}, #{needweb,jdbcType=VARCHAR}, 
      #{callother,jdbcType=VARCHAR}, #{envtype,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.Module">
    update Module
    set UsgSn = #{usgsn,jdbcType=VARCHAR},
      UsrSn = #{usrsn,jdbcType=VARCHAR},
      LanSn = #{lansn,jdbcType=VARCHAR},
      LicSn = #{licsn,jdbcType=VARCHAR},
      ModName = #{modname,jdbcType=VARCHAR},
      ModID = #{modid,jdbcType=VARCHAR},
      IsOpenSrc = #{isopensrc,jdbcType=VARCHAR},
      NeedWeb = #{needweb,jdbcType=VARCHAR},
      CallOther = #{callother,jdbcType=VARCHAR},
      EnvType = #{envtype,jdbcType=VARCHAR}
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ModSn, UsgSn, UsrSn, LanSn, LicSn, ModName, ModID, IsOpenSrc, NeedWeb, CallOther, 
    EnvType
    from Module
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ModSn, UsgSn, UsrSn, LanSn, LicSn, ModName, ModID, IsOpenSrc, NeedWeb, CallOther, 
    EnvType
    from Module
  </select>
  <resultMap id="BaseResultMap" type="com.beyond.algo.model.Module">
    <id column="ModSn" jdbcType="VARCHAR" property="modsn" />
    <result column="UsgSn" jdbcType="VARCHAR" property="usgsn" />
    <result column="UsrSn" jdbcType="VARCHAR" property="usrsn" />
    <result column="LanSn" jdbcType="VARCHAR" property="lansn" />
    <result column="LicSn" jdbcType="VARCHAR" property="licsn" />
    <result column="ModName" jdbcType="VARCHAR" property="modname" />
    <result column="ModID" jdbcType="VARCHAR" property="modid" />
    <result column="IsOpenSrc" jdbcType="VARCHAR" property="isopensrc" />
    <result column="NeedWeb" jdbcType="VARCHAR" property="needweb" />
    <result column="CallOther" jdbcType="VARCHAR" property="callother" />
    <result column="EnvType" jdbcType="VARCHAR" property="envtype" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from Module
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.beyond.algo.model.Module">
    insert into Module (ModSn, UsgSn, UsrSn, 
      LanSn, LicSn, ModName, 
      ModID, IsOpenSrc, NeedWeb, 
      CallOther, EnvType)
    values (#{modsn,jdbcType=VARCHAR}, #{usgsn,jdbcType=VARCHAR}, #{usrsn,jdbcType=VARCHAR}, 
      #{lansn,jdbcType=VARCHAR}, #{licsn,jdbcType=VARCHAR}, #{modname,jdbcType=VARCHAR}, 
      #{modid,jdbcType=VARCHAR}, #{isopensrc,jdbcType=VARCHAR}, #{needweb,jdbcType=VARCHAR}, 
      #{callother,jdbcType=VARCHAR}, #{envtype,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.beyond.algo.model.Module">
    update Module
    set UsgSn = #{usgsn,jdbcType=VARCHAR},
      UsrSn = #{usrsn,jdbcType=VARCHAR},
      LanSn = #{lansn,jdbcType=VARCHAR},
      LicSn = #{licsn,jdbcType=VARCHAR},
      ModName = #{modname,jdbcType=VARCHAR},
      ModID = #{modid,jdbcType=VARCHAR},
      IsOpenSrc = #{isopensrc,jdbcType=VARCHAR},
      NeedWeb = #{needweb,jdbcType=VARCHAR},
      CallOther = #{callother,jdbcType=VARCHAR},
      EnvType = #{envtype,jdbcType=VARCHAR}
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ModSn, UsgSn, UsrSn, LanSn, LicSn, ModName, ModID, IsOpenSrc, NeedWeb, CallOther, 
    EnvType
    from Module
    where ModSn = #{modsn,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ModSn, UsgSn, UsrSn, LanSn, LicSn, ModName, ModID, IsOpenSrc, NeedWeb, CallOther, 
    EnvType
    from Module
  </select>
</mapper>